---
import CarrouselItem from './CarrouselItem.astro'
---

<section class='welcome-area'>
  <div class='welcome-slides owl-carousel'>
    <CarrouselItem
      body='Puedes ver de lo que se trató hacer en esta web app'
      img='/img/core/slash1.jpg'
      routerTitle='Más Información'
    >
      ¡Esto es! <br />un antiguo web app
    </CarrouselItem>
    <CarrouselItem
      body='Videos que te podrían sacar una sonrisa, mira mi catálogo de videos de YouTube para ver buenos videos.'
      img='/img/core/slashc.jpg'
      routerTitle='¡Ir!'
    >
      Escena <br />Primera
    </CarrouselItem>
    <CarrouselItem
      body='Soy profesor ocupacional especializados en Cálculo Diferencial e Integral y álgebra. Contáctame para clases en conjunto o clases privadas, dirígete a mi página de clases para recibir más información.'
      img='/img/core/2.jpg'
      routerTitle='¡Vamos!'
    >
      ¿Necesitas <br />Nivelación?
    </CarrouselItem>
    <CarrouselItem
      body='Soluciones básicas y sencillas para ganar activos/criptomonedas y transferir dinero.'
      img='/img/core/3.jpg'
      routerTitle='¡Me Interesa!'
    >
      Genera <br />Gana, Comparte
    </CarrouselItem>
  </div>
</section>
