<header class='header-area'>
  <div class='main-header-area'>
    <div class='classy-nav-container breakpoint-off'>
      <div class='container'>
        <nav class='classy-navbar justify-content-between' id='alimeNav'>
          <a class='nav-brand' href='/' rel='prefetch'>
            <img alt='' src='/img/core/logo.png' />
          </a>
          <div class='classy-navbar-toggler'>
            <span class='navbarToggler'>
              <span></span><span></span><span></span>
            </span>
          </div>
          <div class='classy-menu'>
            <div class='classycloseIcon'>
              <div class='cross-wrap'>
                <span class='top'></span>
                <span class='bottom'></span>
              </div>
            </div>
            <div class='classynav'>
              <ul id='nav'>
                <li><a href='/' rel='prefetch'>Inicio</a></li>
                <li>
                  <a href='/class' rel='prefetch'>Servicios</a>
                  <ul class='dropdown'>
                    <li>
                      <a href='/class/analysis' rel='prefetch'
                        >- Análisis Matemático</a
                      >
                    </li>
                    <li>
                      <a href='/class/math' rel='prefetch'
                        >- Matemáticas para Colegio</a
                      >
                    </li>
                    <li>
                      <a href='/class/linear' rel='prefetch'>- Álgebra Lineal</a
                      >
                    </li>
                    <li>
                      <a href='/class/struct' rel='prefetch'
                        >- Programación Estructurada</a
                      >
                    </li>
                    <li><a href='/class/objects' rel='prefetch'>- POO</a></li>
                    <li>
                      <a href='/class/multimedia' rel='prefetch'
                        >- Edición Multimedia</a
                      >
                    </li>
                    <li>
                      <a href='/class/design' rel='prefetch'>- Diseño Web</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href='/financial'>Financial</a>
                  <ul class='dropdown'>
                    <li>
                      <a href='/financial/crypto'>- Criptomonedas</a>
                      <ul class='dropdown'>
                        <li>
                          <a href='/financial/crypto/wallet' rel='prefetch'
                            >- Wallets y Direcciones</a
                          >
                        </li>
                        <li>
                          <a href='/financial/crypto/faucets' rel='prefetch'
                            >- Faucets</a
                          >
                        </li>
                        <li>
                          <a href='/financial/crypto/inv' rel='prefetch'
                            >- Inversiones</a
                          >
                        </li>
                        <li>
                          <a href='/financial/crypto/ptc' rel='prefetch'
                            >- Pay to Click</a
                          >
                        </li>
                        <li>
                          <a href='/financial/crypto/movil' rel='prefetch'
                            >- Telegram y Juegos</a
                          >
                        </li>
                        <li>
                          <a href='/financial/crypto/alternative' rel='prefetch'
                            >- Ganancias Adicionales</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href='/financial/airtm' rel='prefetch'>- AirTM</a>
                      <ul class='dropdown'>
                        <li>
                          <a href='/financial/airtm/transfer' rel='prefetch'
                            >- Fondear y Retirar</a
                          >
                        </li>
                        <li>
                          <a href='/financial/airtm/crypto' rel='prefetch'
                            >- Compra y venta de crypto</a
                          >
                        </li>
                        <li>
                          <a href='/financial/airtm/card' rel='prefetch'
                            >- Tarjeta virtual prepagada</a
                          >
                        </li>
                        <li>
                          <a href='/financial/airtm/paypal' rel='prefetch'
                            >- Retirar fondos de PayPal</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href='/financial/trading' rel='prefetch'>- Trading</a>
                      <ul class='dropdown'>
                        <li>
                          <a href='/financial/trading/forex' rel='prefetch'
                            >- LiteForex</a
                          >
                        </li>
                        <li>
                          <a href='/financial/trading/binance' rel='prefetch'
                            >- Binance</a
                          >
                        </li>
                        <li>
                          <a href='/financial/trading/stormgain' rel='prefetch'
                            >- Stormgain</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href='/arkano036' rel='prefetch'>Arkano036</a></li>
                <li><a href='/blog' rel='prefetch'>Blog</a></li>
                <li>
                  <a href='/info' rel='prefetch'>Información</a>
                  <ul class='dropdown'>
                    <li>
                      <a href='/info/changelog' rel='prefetch'
                        >- Notas de la App</a
                      >
                    </li>
                    <li>
                      <a href='/info/about' rel='prefetch'>- Sobre Nosotros</a>
                    </li>
                    <li>
                      <a href='/info/contact' rel='prefetch'>- Contáctanos</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div
                class='search-icon'
                data-target='#searchModal'
                data-toggle='modal'
              >
                <i class='ti-search'></i>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
