<header class='header-area'>
  <div class='main-header-area'>
    <div class='classy-nav-container breakpoint-off'>
      <div class='container'>
        <nav class='classy-navbar justify-content-between' id='alimeNav'>
          <a href='/' class='nav-brand' rel='prefetch'>
            <img src='/img/core/logo.png' alt='' />
          </a>
          <div class='classy-navbar-toggler'>
            <span class='navbarToggler'>
              <span></span><span></span><span></span>
            </span>
          </div>
          <div class='classy-menu'>
            <div class='classycloseIcon'>
              <div class='cross-wrap'>
                <span class='top'></span>
                <span class='bottom'></span>
              </div>
            </div>
            <div class='classynav'>
              <ul id='nav'>
                <li><a rel='prefetch' href='/'>Inicio</a></li>
                <li>
                  <a rel='prefetch' href='/class'>Servicios</a>
                  <ul class='dropdown'>
                    <li>
                      <a rel='prefetch' href='/class/analysis'
                        >- Análisis Matemático</a
                      >
                    </li>
                    <li>
                      <a rel='prefetch' href='/class/math'
                        >- Matemáticas para Colegio</a
                      >
                    </li>
                    <li>
                      <a rel='prefetch' href='/class/linear'>- Álgebra Lineal</a
                      >
                    </li>
                    <li>
                      <a rel='prefetch' href='/class/struct'
                        >- Programación Estructurada</a
                      >
                    </li>
                    <li><a rel='prefetch' href='/class/objects'>- POO</a></li>
                    <li>
                      <a rel='prefetch' href='/class/multimedia'
                        >- Edición Multimedia</a
                      >
                    </li>
                    <li>
                      <a rel='prefetch' href='/class/design'>- Diseño Web</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href='/financial'>Financial</a>
                  <ul class='dropdown'>
                    <li>
                      <a href='/financial/crypto'>- Criptomonedas</a>
                      <ul class='dropdown'>
                        <li>
                          <a rel='prefetch' href='/financial/crypto/wallet'
                            >- Wallets y Direcciones</a
                          >
                        </li>
                        <li>
                          <a rel='prefetch' href='/financial/crypto/faucets'
                            >- Faucets</a
                          >
                        </li>
                        <li>
                          <a rel='prefetch' href='/financial/crypto/inv'
                            >- Inversiones</a
                          >
                        </li>
                        <li>
                          <a rel='prefetch' href='/financial/crypto/ptc'
                            >- Pay to Click</a
                          >
                        </li>
                        <li>
                          <a rel='prefetch' href='/financial/crypto/movil'
                            >- Telegram y Juegos</a
                          >
                        </li>
                        <li>
                          <a rel='prefetch' href='/financial/crypto/alternative'
                            >- Ganancias Adicionales</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a rel='prefetch' href='/financial/airtm'>- AirTM</a>
                      <ul class='dropdown'>
                        <li>
                          <a rel='prefetch' href='/financial/airtm/transfer'
                            >- Fondear y Retirar</a
                          >
                        </li>
                        <li>
                          <a rel='prefetch' href='/financial/airtm/crypto'
                            >- Compra y venta de crypto</a
                          >
                        </li>
                        <li>
                          <a rel='prefetch' href='/financial/airtm/card'
                            >- Tarjeta virtual prepagada</a
                          >
                        </li>
                        <li>
                          <a rel='prefetch' href='/financial/airtm/paypal'
                            >- Retirar fondos de PayPal</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a rel='prefetch' href='/financial/trading'>- Trading</a>
                      <ul class='dropdown'>
                        <li>
                          <a rel='prefetch' href='/financial/trading/forex'
                            >- LiteForex</a
                          >
                        </li>
                        <li>
                          <a rel='prefetch' href='/financial/trading/binance'
                            >- Binance</a
                          >
                        </li>
                        <li>
                          <a rel='prefetch' href='/financial/trading/stormgain'
                            >- Stormgain</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a rel='prefetch' href='/arkano036'>Arkano036</a></li>
                <li><a rel='prefetch' href='/blog'>Blog</a></li>
                <li>
                  <a rel='prefetch' href='/info'>Información</a>
                  <ul class='dropdown'>
                    <li>
                      <a rel='prefetch' href='/info/changelog'
                        >- Notas de la App</a
                      >
                    </li>
                    <li>
                      <a rel='prefetch' href='/info/about'>- Sobre Nosotros</a>
                    </li>
                    <li>
                      <a rel='prefetch' href='/info/contact'>- Contáctanos</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div
                class='search-icon'
                data-toggle='modal'
                data-target='#searchModal'
              >
                <i class='ti-search'></i>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
