---
import Donate from '@/common/components/Donate.astro'
import Heading from '@/core/components/financial/Heading.astro'
import CoreLayout from '@/core/layout/CoreLayout.astro'
---

<CoreLayout>
  <Heading
    desc='Financial | AirTM | Card'
    img='/img/core/airtm-wall.jpg'
    title='Tarjeta Prepagada de Airtm'
  />
  <section class='our-team-area section-padding-class'>
    <div class='about-us-area section-padding-80-0 clearfix'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-6'>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Airtm con servicio disponible de tarjetas virtuales MasterCard
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                En esta página aprenderás a conseguir de manera rápida una
                tarjeta prepagada virtual MasterCard para que hagas tus compras
                en internet si no tienes algún medio para hacer compras con
                tarjetas internacionales. Te recomiendo que te registres a la
                página antes de revisar el contenido y que sigas los pasos que
                te pondré a continuación, pero por favor, me ayudarías bastante
                haciendo click en el botón de abajo.
              </p>
              <a
                class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                data-wow-delay='500ms'
                href='https://app.airtm.com/ivt/deLsNaLO'
                rel='noopener noreferrer'
                target='_blank'
              >
                ¡Regístrame!
              </a>
            </div>
          </div>
          <div class='col-12 col-lg-6'>
            <div
              class='about-video-area mb-80 wow fadeInUp'
              data-wow-delay='100ms'
            >
              <img alt='' src='/img/core/airtm-thumb.jpg' />
              <div class='video-icon'>
                <a
                  class='video-play-btn'
                  href='https://www.youtube.com/watch?v=ALf__LAImTA'
                >
                  <i class='arrow_triangle-right'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='alime--blog-area section-padding-desc'>
    <div class='container'>
      <div class='alert alert-warning' role='alert'>
        <strong>¡Fondéame!</strong>
        Antes de proceder, te invito a que vayas
        <a class='alert-link' href='/financial/airtm/transfer' rel='prefetch'
          >aquí</a
        >. Si no sabes como fondear o retirar en Airtm.
      </div>
      <br />
      <div class='row justify-content-center'>
        <div class='col-12 col-lg-10'>
          <div class='blog-details-text'>
            <p class='subtitle'>
              Prerrequisitos para conseguir una tarjeta virtual
            </p>
            <ul class='list-group'>
              <li class='list-group-item'>Tu cuenta esté verificada.</li>
              <li class='list-group-item'>
                Conocer el procedimiento de fondeo y retiro de fondos.
              </li>
              <li class='list-group-item'>
                El valor recomendable para configurar una tarjeta es de 15.00$
                USD o superior.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>Características Generales</h2>
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class='col-12'>
          <div class='row'>
            <div class='col-4'>
              <div class='list-group' id='list-tab' role='tablist'>
                <a
                  aria-controls='home'
                  class='list-group-item list-group-item-action active'
                  data-toggle='list'
                  href='#list-home'
                  id='list-home-list'
                  role='tab'
                >
                  Comisión y recargos
                </a>
                <a
                  aria-controls='profile'
                  class='list-group-item list-group-item-action'
                  data-toggle='list'
                  href='#list-profile'
                  id='list-profile-list'
                  role='tab'
                >
                  Compras en Línea
                </a>
                <a
                  aria-controls='settings'
                  class='list-group-item list-group-item-action'
                  data-toggle='list'
                  href='#list-settings'
                  id='list-settings-list'
                  role='tab'
                >
                  Dirección de Facturación
                </a>
              </div>
            </div>
            <div class='col-8'>
              <div class='tab-content' id='nav-tabContent'>
                <div
                  aria-labelledby='list-home-list'
                  class='tab-pane fade show active'
                  id='list-home'
                  role='tabpanel'
                >
                  -Tarjeta virtual prepagada generada para hacer múltiples
                  compras $1 USD de comisión por cada compra para eso debes
                  tener en cuenta que se te debitará ese valor si el objeto
                  tiene un valor de 20$ debes tener 21$ para realizar dicha
                  cuenta
                  <br />
                </div>
                <div
                  aria-labelledby='list-profile-list'
                  class='tab-pane fade'
                  id='list-profile'
                  role='tabpanel'
                >
                  -Dicha tarjeta se utilizará en cualquier lugar en línea que
                  acepte Mastercard o Visa debes tener en cuenta que los pagos
                  por contenido adulto y apuestas están prohibidos
                </div>
                <div
                  aria-labelledby='list-settings-list'
                  class='tab-pane fade'
                  id='list-settings'
                  role='tabpanel'
                >
                  -Al ingresar la dirección de facturación o el código postal
                  durante la compra, usa la dirección de la sede central de
                  Airtm en EE.UU.:8 The Green, Suite ADover, Delaware 19901
                  Estados Unidos.
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div
          class='col-sm-12 col-lg-15 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <br />
          <div class='single-portfolio-content'>
            <img alt='' src='/img/core/airtm-thumb.jpg' />
            <div class='hover-content'>
              <a class='portfolio-img' href='/img/core/airtm-thumb.jpg'>+</a>
            </div>
          </div>
          <br />
          <p>
            Deberás ingresar el valor de la tarjeta, la tarjeta tiene un valor
            de $5 USD de tarifa de comisión más 1$ de comisión por la primera
            compra. Y listo, podrás comprar en línea.
          </p>
        </div>
      </div>
    </div>
  </section>
  <Donate />
</CoreLayout>
