---
import CoreLayout from '@/core/layout/CoreLayout.astro'
import Donate from '@/common/components/Donate.astro'
import Heading from '@/core/components/financial/Heading.astro'
---

<CoreLayout>
  <Heading
    img='/img/core/bitcoin-l.jpg'
    title='Compra y Venta de Crypto'
    desc='Financial | AirTM | Crypto'
  />
  <section class='our-team-area section-padding-class'>
    <div class='about-us-area section-padding-80-0 clearfix'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-6'>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Airtm con servicio disponible de criptomonedas
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                En esta página aprenderás a como comprar y vender criptomonedas,
                para eso es indispensable que conozcas el tema de criptomonedas
                y que sepas fondear o retirar dinero. Te recomiendo que te
                registres a la página antes de revisar el contenido y que sigas
                los pasos que te pondré a continuación, pero por favor, me
                ayudarías bastante haciendo click en el botón de abajo.
              </p>
              <a
                class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                data-wow-delay='500ms'
                href='https://app.airtm.com/ivt/deLsNaLO'
                target='_blank'
                rel='noopener noreferrer'
              >
                ¡Regístrame!
              </a>
            </div>
          </div>
          <div class='col-12 col-lg-6'>
            <div
              class='about-video-area mb-80 wow fadeInUp'
              data-wow-delay='100ms'
            >
              <img src='/img/core/airtm-thumb.jpg' alt='' />
              <div class='video-icon'>
                <a
                  href='https://www.youtube.com/watch?v=ALf__LAImTA'
                  class='video-play-btn'
                >
                  <i class='arrow_triangle-right'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='alime--blog-area section-padding-desc'>
    <div class='container'>
      <div class='alert alert-warning' role='alert'>
        <strong>¡Tienes que saberlo!</strong>
        Antes de proceder, te invito a que vayas
        <a rel='prefetch' href='/financial/crypto' class='alert-link'>aquí</a>.
        Si quieres aprender sobre criptomonedas o si no tienes idea de lo que se
        trata esto.
      </div>
      <div class='alert alert-warning' role='alert'>
        <strong>¡Fondéame!</strong>
        Antes de proceder, te invito a que vayas
        <a rel='prefetch' href='/financial/airtm/transfer' class='alert-link'
          >aquí</a
        >. Si no sabes como fondear o retirar en Airtm.
      </div>
      <br />
      <div class='row justify-content-center'>
        <div class='col-12 col-lg-10'>
          <div class='blog-details-text'>
            <p class='subtitle'>
              Prerrequisitos para compra y venta de cryptomonedas
            </p>
            <ul class='list-group'>
              <li class='list-group-item'>Tu cuenta esté verificada.</li>
              <li class='list-group-item'>
                Conocer el procedimiento de fondeo y retiro de fondos.
              </li>
              <li class='list-group-item'>
                Tener una noción básica de criptomonedas, carteras y blockchain.
              </li>
              <li class='list-group-item'>
                El valor mínimo para crypto es de 5.00$ USD
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div class='row'>
            <div class='col-4'>
              <div class='list-group' id='list-tab' role='tablist'>
                <a
                  class='list-group-item list-group-item-action active'
                  id='list-home-list'
                  data-toggle='list'
                  href='#list-home'
                  role='tab'
                  aria-controls='home'
                >
                  ¿Porqué vender?
                </a>
                <a
                  class='list-group-item list-group-item-action'
                  id='list-profile-list'
                  data-toggle='list'
                  href='#list-profile'
                  role='tab'
                  aria-controls='profile'
                >
                  ¿Porqué comprar?
                </a>
                <a
                  class='list-group-item list-group-item-action'
                  id='list-settings-list'
                  data-toggle='list'
                  href='#list-settings'
                  role='tab'
                  aria-controls='settings'
                >
                  Criptomonedas Disponibles
                </a>
              </div>
            </div>
            <div class='col-8'>
              <div class='tab-content' id='nav-tabContent'>
                <div
                  class='tab-pane fade show active'
                  id='list-home'
                  role='tabpanel'
                  aria-labelledby='list-home-list'
                >
                  -Transformas tu cripto en dinero de Airtm para que puedas
                  retirar tus criptomonedas convertidas en papel moneda.
                  <br /> -Puedes sacar beneficio de la volatilidad del precio que
                  tienen las diferentes criptomonedas.
                  <br /> -Donde tengas almacenadas tus criptomonedas las traes a
                  Airtm para que le tengas en un medio confiable.
                  <br />
                </div>
                <div
                  class='tab-pane fade'
                  id='list-profile'
                  role='tabpanel'
                  aria-labelledby='list-profile-list'
                >
                  -En el campo de las criptomonedas puedes tener tu dinero
                  convertido en criptomonedas para hacer emprendimientos o
                  inversiones.
                  <br /> -Las transacciones con criptomonedas son totalmente anónimas
                  y seguras.
                  <br /> -Puedes hacer una compra y re-venderlas dependiendo de la
                  volatilidad de la misma, puede que dicha moneda cambie su valor.
                </div>
                <div
                  class='tab-pane fade'
                  id='list-settings'
                  role='tabpanel'
                  aria-labelledby='list-settings-list'
                >
                  -Bitcoin Cash (BCH)
                  <br /> -Bitcoin (BTC)
                  <br /> -Dai (DAI)
                  <br /> -Ethereum classic (ETC)
                  <br /> -Ethereum (ETH)
                  <br /> -Litecoin (LTC)
                  <br /> -Monero (XMR)
                  <br /> -Ripple (XRP)
                  <br /> -Zcash (ZEC)
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>Procedimiento de Compra/Venta</h2>
            <br />
            <div class='alert alert-warning' role='alert'>
              <strong>¡Aviso!</strong> No es necesario que compres criptomonedas
              para enviar a un destinatario por una dirección, puedes hacerlo directamente
              en Retirar con un método de pago de la criptomoneda que uses.
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div
          class='col-sm-12 col-lg-6 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>1. Compra y Venta</h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm9.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm9.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Dependiendo si ya tienes alguna criptodivisa activada así ya hayas
            comprado o recibido. puedes hacer el cambio de venta, o puedes
            comprar dependiendo del valor que tenga para que puedas obtenerlo
            retenido en Airtm
          </p>
        </div>
        <div
          class='col-sm-12 col-lg-6 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            2. Variación del precio
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm10.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm10.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Si un día ves que el valor que depositaste ha variado dependiendo de
            la criptomoneda que adquiriste, es por el alta volatilidad que tiene
            en el mercado, por ejemplo el Bitcoin (BTC) es una moneda muy
            volátil, puede variar miles de dólares en el transcurso de los días,
            por eso es mejor comprar bitcoins cuando el precio es bajo y
            venderlo cuando el precio es alto.
          </p>
        </div>
      </div>
    </div>
  </section>
  <Donate />
</CoreLayout>
