---
import CoreLayout from '@/core/layout/CoreLayout.astro';
import Donate from '@/common/components/Donate.astro';
import Heading from '@/core/components/financial/Heading.astro';
---

<CoreLayout>
  <Heading
    img='/img/core/airtm-wall.jpg'
    title='AirTM'
    desc='Financial | Transferencias | Crypto'
  />
  <section class='our-team-area section-padding-class'>
    <div class='about-us-area section-padding-80-0 clearfix'>
      <div class='container'>
        <div class='row'>
          <div class='col-12'>
            <div
              class='section-heading text-center wow fadeInUp'
              data-wow-delay='100ms'
            >
              <h2>Antes de empezar</h2>
              <br />
              <p>
                Te recomiendo que te registres a la página antes de revisar el
                contenido y que sigas los pasos que te pondré a continuación,
                pero por favor, me ayudarías bastante haciendo click en el botón
                de abajo.
              </p>
              <a
                class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                data-wow-delay='500ms'
                href='https://app.airtm.com/ivt/deLsNaLO'
                target='_blank'
                rel='noopener noreferrer'
              >
                ¡Regístrame!
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-6'>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                La mejor página para transferir dinero
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Este será tu punto de transporte de tu dinero, que ganes del
                exterior y lo tengas en tu bolsillo, obviamente viceversa, de tu
                dinero en tu cuenta bancaria lo mandes a AirTM para que
                posteriormente lo envíes a alguna cuenta o billetera
                electrónica, comprar criptomonedas o tener la posibilidad de
                tener una tarjeta prepagada internacional, este sitio está
                disponible para todos los pais. ¿No me crees? Mira mi video de
                introducción al sitio.
              </p>
            </div>
          </div>
          <div class='col-12 col-lg-6'>
            <div
              class='about-video-area mb-80 wow fadeInUp'
              data-wow-delay='100ms'
            >
              <img src='/img/core/airtm-thumb.jpg' alt='' />
              <div class='video-icon'>
                <a
                  href='https://www.youtube.com/watch?v=ALf__LAImTA'
                  class='video-play-btn'
                >
                  <i class='arrow_triangle-right'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='about-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row align-items-center'>
        <div class='col-12 col-lg-6'>
          <div class='about-us-content mb-30'>
            <h3 class='wow fadeInUp' data-wow-delay='100ms'>
              Categorías de uso
            </h3>
            <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='alime-blog-area section-padding-30-0 mb-0'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='100ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/core/atm-p.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>AirTM</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a rel='prefetch' href='/financial/transfer' class='post-title'>
                Fondear y Retirar
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a rel='prefetch' href='/financial/crypto' class='post-thumbnail'>
              <img src='/img/core/bitcoin-p.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>AirTM</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a href='/financial/crypto' class='post-title'>
                Compra y Venta de Crypto
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='700ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/core/card-p.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>AirTM</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a href='/financial/card' class='post-title'>
                Tarjeta Prepagada
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='700ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/core/pp-p.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>AirTM</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a rel='prefetch' href='/financial/paypal' class='post-title'>
                Retiros en PayPal
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>Primeros pasos de uso</h2>
            <br />
            <p>
              Es importante que sepas manejar los aspectos básicos antes de
              empezar a manejar la página, como la verificación de la cuenta,
              registrar métodos de pago e incluso invertir para procesar pagos.
            </p>
            <br />
          </div>
        </div>
      </div>
      <div class='row'>
        <div
          class='col-3 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            Verifcación de la cuenta
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm1.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm1.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            No puedes operar más de 25,000 dólares, además que no puedes
            realizar transacciones a los usuarios que necesiten de este servicio
            y así ganar dinero por aquí, necesitarás registrar con un código de
            auitenticación de 2FA y registrar tus documentos personales. Además
            el sistema confiará en que eres TÚ el que estés usando.
          </p>
        </div>
        <div
          class='col-3 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>Métodos de Pago</h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm2.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm2.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Puedes vincular aquí todos los métodos de pago para el envío y
            recepción de dinero, si estás usando un banco ecuatoriano, el Tax ID
            se define con 13 ceros, tu número de cuenta y tu ID es el número de
            cédula, para otros métodos de pago, puede que solamente pongas tu
            correo electrónico.
          </p>
        </div>
        <div
          class='col-3 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            Aceptar Solicitudes
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm3.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm3.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            El número de rating de tu usuario depende de cuantas solicitudes
            aceptes y al momento de fondar o retirar puedes calificar de los
            usuarios quienes te hayan ayudado con tu transferencia, además de
            las comisiones que te cobran, se les paga a ellos por transferirte,
            en pocas, puedes ganar dinero aquí.
          </p>
        </div>
        <div
          class='col-3 col-sm-12 col-lg-6 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            Envíos entre Airtm
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm3.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm3.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Las transferencias directas entre correos electrónicos registrados
            en Airtm lo puedes realizar, tanto para enviar y solicitar el dinero
            que tú necesites sin ningún cargo de comisión, solo resta a que
            recomiendes esta página a los más cercanos tuyos.
          </p>
        </div>
        <div
          class='col-3 col-sm-12 col-lg-6 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>Comisiones</h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm4.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm4.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            El número de comisión es reducido, obviamente entre más cantidad
            envíes, la comisión será más alta, esto se recarga por el tipo de
            servicio que mandes, ya sea para envío de criptomonedas o etc.
          </p>
        </div>
      </div>
    </div>
  </section>
  <Donate />
</CoreLayout>
