---
import Donate from '@/common/components/Donate.astro'
import Heading from '@/core/components/financial/Heading.astro'
import CoreLayout from '@/core/layout/CoreLayout.astro'
---

<CoreLayout>
  <Heading
    desc='Financial | AirTM | PayPal'
    img='/img/core/airtm-thumb.jpg'
    title='Retiro en PayPal'
  />
  <section class='our-team-area section-padding-class'>
    <div class='about-us-area section-padding-80-0 clearfix'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-6'>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Airtm con servicio para retirar fondos de billeteras
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                En esta página aprenderás a retirar fondos de tu cuenta de
                PayPal a tu cuenta de Airtm, con un simple envío a un compañero.
                Te recomiendo que te registres a la página antes de revisar el
                contenido y que sigas los pasos que te pondré a continuación,
                pero por favor, me ayudarías bastante haciendo click en el botón
                de abajo.
              </p>
              <a
                class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                data-wow-delay='500ms'
                href='https://app.airtm.com/ivt/deLsNaLO'
                rel='noopener noreferrer'
                target='_blank'
              >
                ¡Regístrame!
              </a>
            </div>
          </div>
          <div class='col-12 col-lg-6'>
            <div
              class='about-video-area mb-80 wow fadeInUp'
              data-wow-delay='100ms'
            >
              <img alt='' src='/img/core/airtm-thumb.jpg' />
              <div class='video-icon'>
                <a
                  class='video-play-btn'
                  href='https://www.youtube.com/watch?v=ALf__LAImTA'
                >
                  <i class='arrow_triangle-right'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='alime--blog-area section-padding-desc'>
    <div class='container'>
      <div class='alert alert-warning' role='alert'>
        <strong>¡Fondéame, Retírame!</strong>
        Antes de proceder, te invito a que vayas
        <a class='alert-link' href='/financial/airtm/transfer' rel='prefetch'
          >aquí</a
        >
        Si no sabes como fondear o retirar en Airtm.
      </div>
      <br />
      <div class='row justify-content-center'>
        <div class='col-12 col-lg-10'>
          <div class='blog-details-text'>
            <p class='subtitle'>
              Prerrequisitos para retirar de tu cuenta de PayPal a Airtm
            </p>
            <ul class='list-group'>
              <li class='list-group-item'>
                Tu cuenta de Airtm esté verificada.
              </li>
              <li class='list-group-item'>
                Conocer el procedimiento de fondeo y retiro de fondos.
              </li>
              <li class='list-group-item'>
                El valor recomendable envíar un valor de 10.00$ USD o superior.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>Procedimiento de Retiro</h2>
            <br />
            <p>
              Recuerda que debes tener una cuenta en Airtm totalmente registrada
              y que tengas un valor medianamente aceptable para hacer el envío.
            </p>
            <br />
          </div>
        </div>
      </div>
      <div class='row'>
        <div
          class='col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            1. PayPal como método de pago
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img alt='' src='/img/core/airtm12.jpg' />
            <div class='hover-content'>
              <a class='portfolio-img' href='/img/core/airtm12.jpg'>+</a>
            </div>
          </div>
          <br />
          <p>
            Configura tu método de pago de PayPal, basta con solo introducir el
            correo electrónico en el que está tus fondos del mismo PayPal, lo
            siguiente es fondear a Airtm lo que tienes en PayPal.
          </p>
        </div>
        <div
          class='col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            2. Fondos a Envíar/Fondos por Recibir
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img alt='' src='/img/core/airtm13.jpg' />
            <div class='hover-content'>
              <a class='portfolio-img' href='/img/core/airtm13.jpg'>+</a>
            </div>
          </div>
          <br />
          <p>
            Tienes que ir a Fondear/Retirar y pones en fondear con el método de
            pago de PayPal, se te establecerá la cantidad que deseas envíar a
            Airtm y la cantidad que vas a recibir con las comisiones incluidas,
            a cada que cambies tu valor a enviar, se cambiará tu valor a
            recibir, la comisión puede variar según la velocidad que se ponga
            como prioiridad, en detalles de tarifa ubicada en la parte inferior.
          </p>
        </div>
        <div
          class='col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            3. Confirmar datos y espera de compañero
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img alt='' src='/img/core/airtm6.jpg' />
            <div class='hover-content'>
              <a class='portfolio-img' href='/img/core/airtm6.jpg'>+</a>
            </div>
          </div>
          <br />
          <p>
            Cuando tus datos estén correctos, se te mandará a la espera de que
            un compañero te acepte la solicitud para cumplir la transferencia,
            tu compañero deberá tener una cuenta de PayPal para que
            posteriormente le envíes tu dinero con la cantidad exacta. En PayPal
            debes de ir a Enviar/Solicitar para enviar tu saldo a tu compañero.
            Para más información conversa con tu compañero en el chat.
          </p>
        </div>
        <div
          class='col-sm-12 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            4. Transferencia de PayPal y fondos recibidos
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img alt='' src='/img/core/airtm14.jpg' />
            <div class='hover-content'>
              <a class='portfolio-img' href='/img/core/airtm14.jpg'>+</a>
            </div>
          </div>
          <br />
          <p>
            Tu compañero estará a la espera de que confirme tu envío mediante su
            cuenta de PayPal y listo, tienes tu dinero en Airtm para que lo
            puedas retirar a tus cuentas bancarias. ¡No olvides de calificar a
            tu compañero con 5 estrellas!
          </p>
        </div>
      </div>
    </div>
  </section>
  <Donate />
</CoreLayout>
