---
import CoreLayout from '@/core/layout/CoreLayout.astro';
import Donate from '@/common/components/Donate.astro';
import Heading from '@/core/components/financial/Heading.astro';
---

<CoreLayout>
  <Heading
    img='/img/core/atm-l.jpg'
    title='Retiro en PayPal'
    desc='Financial | AirTM | PayPal'
  />
  <section class='our-team-area section-padding-class'>
    <div class='about-us-area section-padding-80-0 clearfix'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-6'>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Envía dinero a tus wallet, recibe a tu bolsillo
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                En esta página aprenderás a como enviar y recibir dinero de los
                que te mandan desde el exterior y que lo recibas en tu cuenta
                bancaria RETIRO, o a su vez, desde tu cuenta bancaria envíes
                dinero a Airtm FONDEO y así lo mandes a donde tú quieras, si
                tienes dudas puedes consultar mi video. Te recomiendo que te
                registres a la página antes de revisar el contenido y que sigas
                los pasos que te pondré a continuación, pero por favor, me
                ayudarías bastante haciendo click en el botón de abajo.
              </p>
              <a
                class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                data-wow-delay='500ms'
                href='https://app.airtm.com/ivt/deLsNaLO'
                target='_blank'
                rel='noopener noreferrer'
              >
                ¡Regístrame!
              </a>
            </div>
          </div>
          <div class='col-12 col-lg-6'>
            <div
              class='about-video-area mb-80 wow fadeInUp'
              data-wow-delay='100ms'
            >
              <img src='/img/core/airtm-thumb.jpg' alt='' />
              <div class='video-icon'>
                <a
                  href='https://www.youtube.com/watch?v=ALf__LAImTA'
                  class='video-play-btn'
                >
                  <i class='arrow_triangle-right'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='alime--blog-area section-padding-desc'>
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-12 col-lg-10'>
          <div class='blog-details-text'>
            <p class='subtitle'>
              Prerrequisitos para retiro y fondeo de dinero
            </p>
            <ul class='list-group'>
              <li class='list-group-item'>Tu cuenta esté verificada.</li>
              <li class='list-group-item'>
                El valor mínimo de envío es de 1.00$ USD, el valor mínimo para
                crypto es de 5.00$ USD
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>Fondeo</h2>
            <br />
            <p>
              Fondeo significa, desde algún sitio que tengas tu dinero Cuenta
              bancaria, E-Wallet, Crypto se lo lleva como saldo de AirUSD y se
              lo retiene en tu cuenta.
            </p>
            <br />
          </div>
        </div>
      </div>
      <div class='row'>
        <div
          class='col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            1 Método de pago para fondear
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm2.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm2.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Primero debes tener algún sitio donde tengas almacenado tu dinero,
            para que así puedas mandar a que te acepten la solicitud, recuerda
            que siempre debes poner tus datos personales y que TODO esté
            correctamente verificado. Procedes a Fondear/Retirar y pones en
            Fondear.
          </p>
        </div>
        <div
          class='col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            2 Fondos a Envíar/Fondos por Recibir
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm4.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm4.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Ya elegiste tu método de pago para fondear, se te establecerá la
            cantidad que deseas envíar a Airtm y la cantidad que vas a recibir
            con las comisiones incluidas, a cada que cambies tu valor a enviar,
            se cambiará tu valor a recibir, la comisión puede variar según la
            velocidad que se ponga como prioiridad, en detalles de tarifa
            ubicada en la parte inferior.
          </p>
        </div>
        <div
          class='col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            3 Confirmar datos y espera de compañero
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm5.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm5.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Cuando tus datos estén correctos, se te mandará a la espera de que
            un compañero te acepte la solicitud para cumplir la transferencia,
            tu compañero tendrá una cuenta de tu institución bancaria para que
            posteriormente le envíes tu dinero.
          </p>
        </div>
        <div
          class='col-sm-12 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            4 Transferencia Interna y fondos recibidos
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm6.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm6.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Cuando ya te aceptaron la solicitud, tu compañero empezará un chat a
            la espera que le envíes el dinero a su cuenta bancaria o wallet,
            tiene que ser la cantidad exacta en FONDOS A ENVÍAR cuando
            escribiste en el paso 2, realizas la transferencia interna de tu
            institución bancaria que tu compañero posee, él te verificará si la
            transacción le ha llegado, si es así, te depositará la cantidad que
            te salió en FONDOS POR RECIBIR y listo, tienes tu dinero en Airtm.
            ¡No olvides de calificar a tu compañero con 5 estrellas!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>Retiro</h2>
            <br />
            <p>
              Retiro significa, desde tus fondos almacenados en Airtm, se
              dirigen a tu cuenta bancaria para que lo tengas directamente en
              efectivo, el proceso para fondear es exactamente el mismo.
            </p>
            <br />
          </div>
        </div>
      </div>
      <div class='row'>
        <div
          class='col-3 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            1 Método de pago para retirar
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm2.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm2.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Primero debes tener una cuenta bancaria en el que tengas que retirar
            tu dinero, para que así te acepten la solicitud y lo envíen a tu
            cuenta, recuerda que siempre debes poner tus datos personales y que
            TODO esté correctamente verificado. Procedes a Fondear/Retirar y
            pones en Retirar.
          </p>
        </div>
        <div
          class='col-3 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            2 Fondos a Envíar/Fondos por Recibir
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm4.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm4.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Ya elegiste tu método de pago para retirar, se te establecerá la
            cantidad que deseas envíara y la cantidad que vas a recibir a tu
            cuenta bancaria con las comisiones incluidas, a cada que cambies tu
            valor a enviar, se cambiará tu valor a recibir, la comisión puede
            variar según la velocidad que se ponga como prioiridad, en detalles
            de tarifa ubicada en la parte inferior.
          </p>
        </div>
        <div
          class='col-3 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            3 Confirmar datos y espera de compañero
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm5.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm5.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Cuando tus datos estén correctos, se te mandará a la espera de que
            un compañero te acepte la solicitud para cumplir la transferencia,
            tu compañero tendrá una cuenta de tu institución bancaria para que
            posteriormente le envíes tu dinero de Airtm.
          </p>
        </div>
        <div
          class='col-3 col-sm-12 single_gallery_item nature mb-30 wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h6 class='wow fadeInUp' data-wow-delay='100ms'>
            4 Transferencia Interna y retiro procesado
          </h6>
          <br />
          <br />
          <div class='single-portfolio-content'>
            <img src='/img/core/airtm7.jpg' alt='' />
            <div class='hover-content'>
              <a href='/img/core/airtm7.jpg' class='portfolio-img'>+</a>
            </div>
          </div>
          <br />
          <p>
            Cuando ya te aceptaron la solicitud, tu compañero recogerá tu dinero
            de Airtm y lo enviará a tu cuenta bancaria con los datos que estén
            proporcionados de tu método de pago, él hará la transferencia
            interna y listo, tienes tu dinero en Airtm. Para confirmar el
            recibo, debes revisar que esté efectivamente en tu cuenta bancaria
            ¡No olvides de calificar a tu compañero con 5 estrellas!
          </p>
        </div>
      </div>
    </div>
  </section>
  <Donate />
</CoreLayout>
