---
import YoutubeLayout from '@/youtube/layout/YoutubeLayout.astro';

import Description from '@/youtube/components/Description.astro';
import Heading from '@/youtube/components/Heading.astro';
import CounterAll from '@/youtube/components/CounterAll.html';
---

<YoutubeLayout>
  <Heading
    img='/img/youtube/p12.jpg'
    title='osu!'
    desc='Arkano036 | osu!'
  />
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <CounterAll />
      <div class='row'>
        <div class='col-12'>
          <div class='section-heading text-center wow fadeInUp' data-wow-delay='100ms'>
            <div
              class='g-ytsubscribe'
              data-channelid='UCZLSfAQqExCQ5M3ddRhjvRg'
              data-layout='default'
              data-theme='dark'
              data-count='default'
            >
            </div>
            <br />
            <br />
            <br />
            <p>
              El videojuego que resalta mi canal, en su totalidad, mis plays, ni curso Xpress Play,
              tips y como configurar tus dispositivos para que tengas una buena experiencia en el este mundo.
              Este fue una época de oro para mi vida y te la plasmo aquí.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='about-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row align-items-center'>
        <div class='col-12 col-lg-6'>
          <div class='about-us-content mb-30'>
            <h3 class='wow fadeInUp' data-wow-delay='100ms'>Categorías</h3>
            <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='alime-blog-area section-padding-30-0 mb-0'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='100ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/youtube/p14p.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>osu!</a>
            <div class='post-content'>
              <div class='post-meta'> </div>
              <a rel='prefetch' href='/arkano036/osu/xpress/' class='post-title'>Xpress Play</a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a rel='prefetch' href='/financial/crypto/' class='post-thumbnail'>
              <img src='/img/youtube/p15p.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>osu!</a>
            <div class='post-content'>
              <div class='post-meta'> </div>
              <a rel='prefetch' href='/arkano036/osu/config/' class='post-title'>
                Configuraciones
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='700ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/youtube/p13p.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>osu!</a>
            <div class='post-content'>
              <div class='post-meta'> </div>
              <a rel='prefetch' href='/arkano036/osu/review/' class='post-title'>
                Review Express
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='700ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/youtube/p16p.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>osu!</a>
            <div class='post-content'>
              <div class='post-meta'> </div>
              <a rel='prefetch' href='/arkano036/osu/recop/' class='post-title'>Recopilaciones</a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='700ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/youtube/p17p.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>osu!</a>
            <div class='post-content'>
              <div class='post-meta'> </div>
              <a rel='prefetch' href='/arkano036/osu/init/' class='post-title'>
                Inicios de osu!
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
</YoutubeLayout>