---
import Description from '@/youtube/components/Description.astro'
import Recop from '@/youtube/components/generators/Recop.astro'
import Heading from '@/youtube/components/Heading.astro'
import YoutubeLayout from '@/youtube/layout/YoutubeLayout.astro'
---

<YoutubeLayout>
  <Heading
    desc='Arkano036 | osu! | Recopilaciones'
    img='/img/youtube/p16.jpg'
    title='Recopilaciones'
  />
  <Description>
    <br />
    <br />
    <br />
    <h2>Fails, pero buenos fails</h2>
    <br />
    <p>
      Una compilación de las mejores fallas de todos los modos de juego para
      osu!, para que puedas ver lo pro que soy ¡A que sí!.
    </p>
    <br />
    <p>
      (Si el video no funciona o no está disponible, puedes hacer clic en el
      título de cada video para redirigirte a YouTube
    </p>
  </Description>
  <Recop />
</YoutubeLayout>
