---
import Description from '@/youtube/components/Description.astro'
import Misc from '@/youtube/components/generators/Misc.astro'
import Heading from '@/youtube/components/Heading.astro'
import YoutubeLayout from '@/youtube/layout/YoutubeLayout.astro'
---

<YoutubeLayout>
  <Heading
    desc='Arkano036 | Tutoriales | Miscelánea'
    img='/img/youtube/p5.jpg'
    title='Miscelánea'
  />
  <Description>
    <br />
    <br />
    <br />
    <h2>Otros Tutoriales</h2>
    <br />
    <p>Tutoriales sobre temas variados.</p>
  </Description>
  <Misc />
</YoutubeLayout>
