---
import Description from '@/youtube/components/Description.astro'
import Multimedia from '@/youtube/components/generators/Multimedia.astro'
import Heading from '@/youtube/components/Heading.astro'
import YoutubeLayout from '@/youtube/layout/YoutubeLayout.astro'
---

<YoutubeLayout>
  <Heading
    desc='Arkano036 | Tutoriales | Multimedia'
    img='/img/youtube/p3.jpg'
    title='Edición Multimedia'
  />
  <Description>
    <br />
    <br />
    <br />
    <h2>Edición Multimedia</h2>
    <br />
    <p>Tutoriales de edición multimedia</p>
  </Description>
  <Multimedia />
</YoutubeLayout>
