---
import YoutubeLayout from '@/youtube/layout/YoutubeLayout.astro';

import Description from '@/youtube/components/Description.astro';
import Heading from '@/youtube/components/Heading.astro';
import Rubik from '@/youtube/components/generators/Rubik.astro';
---

<YoutubeLayout>
  <Heading
    img='/img/youtube/p2.jpg'
    title='Cubos de Rubik'
    desc='Arkano036 | Tutoriales | Rubik'
  />
  <Description>
    <br />
    <br />
    <br />
    <h2>¿Y este interés?</h2>
    <br />
    <p>
      En 2016 por simplemente verle a un chico, jugar un cubo de rubik 3x3 me
      sentí inútil, así que el interés empezó, fue difícil al inicio, aprendí
      con el método sencillo basado con un aprendizaje mínimo de notación
      algorítmica. Luego me decidí para cubos de nivel superior, 3x3, 4x4, 5x5.
      Mi experiencia en este mundo es de nivel medio, con mis videos te
      facilitaré con tips fáciles para que aprendas mejor todos los cubos.
    </p>
    <br />
    <p>
      Si el video no funciona o no está disponible, puedes hacer clic en el
      título de cada video para redirigirte a YouTube
    </p>
  </Description>
  <Rubik />
</YoutubeLayout>
