---
import Instagram from '@/common/components/Instagram.astro'
import Heading from '@/core/components/Heading.astro'
import CoreLayout from '@/core/layout/CoreLayout.astro'
---

<CoreLayout>
  <Heading img='/img/core/blog.jpg' route='Blog' title='Últimos Blogs' />
  <div class='alime-blog-area section-padding-80-0 mb-70'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-3 col-md-3 col-sm-6'></div>
        <div class='col-lg-7 col-md-3 col-sm-6'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='100ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/blog.jpg' />
            </a>
            <div class='post-content'>
              <div class='post-meta'>
                <a href='# '>Mayo 13, 2020</a>
              </div>
              <a class='post-title' href='/blog/may2020' rel='prefetch'>
                Mi Primer Blog (Bienvenido a mi Sitio Web)
              </a>
            </div>
          </div>
        </div>
        <div class='col-lg-4 col-md-3 col-sm-6'></div>
      </div>
    </div>
  </div>
  <Instagram />
</CoreLayout>
