---
import CoreLayout from '@/core/layout/CoreLayout.astro'

import Sliders from '@/core/components/blog/Sliders.html'
import Commentbox from '@/core/components/blog/Commentbox.html'
import Instagram from '@/common/components/Instagram.astro'
---

<CoreLayout>
  <section
    class='breadcrumb-area blog bg-img bg-overlay jarallax'
    style='background-image: url("/img/core/blog.jpg")'
  >
    <div class='container h-100'>
      <div class='row h-100 align-items-center'>
        <div class='col-12'>
          <div class='breadcrumb-content text-center'>
            <a href='# ' class='btn post-catagory'>BLOG</a>
            <h2 class='page-title'>Mi Primer Blog</h2>
            <div class='post-meta'>
              <a href='# ' class='post-author'>Victor7w7r</a>
              <a href='# ' class='post-date'>Mayo 12, 2020</a>
              <a href='# ' class='post-comments'>Sin Comentarios</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='alime-blog-area section-padding-80'>
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-12 col-lg-10'>
          <div class='blog-details-text'>
            <p>
              Me he pasado casi dos semanas dedicándome al diseño y programación
              al lado del cliente para crear una página web con todos mis
              contenidos, todavía falta mucho por trabajar desde el
              mantenimiento de solicitudes back-end (Comentarios, Envío de
              correo, búsqueda, etc). Es decir, el sitio es más estático que
              dinámico. Para que de por sí mi sitio sea más chévere,
              interactivo, estaré dando oportunidad de créditos para la revisión
              de ortografía y de redacción.
            </p>
            <p>
              Mi objetivo de este sitio web es darte toda mi ayuda, mis
              conocimientos, dar clases y que ganes algo de dinero ya que el
              futuro de por sí, son las criptomonedas. También que me ayudes a
              mantener esta página, oir de tus ideas y que haya una
              retroalimentación mútua para todos.
            </p>
            <p>
              Fue súper pero súper cansado de realizar todas las entradas de la
              página, incluyendo mi compilación de videos para el micrositio
              'Arkano036', también me he dedicado realizar el 'arte' en al
              mayoría de mi sitio con mi mascota.
            </p>
            <div class='my-5'>
              <div class='row'>
                <div class='col-12 col-lg-8'>
                  <div class='row'>
                    <div class='col-12 col-sm-6'>
                      <img class='mb-10' src='/img/youtube/p1p.jpg' alt='' />
                    </div>
                    <div class='col-12 col-sm-6'>
                      <img class='mb-10' src='/img/youtube/p3p.jpg' alt='' />
                    </div>
                  </div>
                </div>
                <div class='col-12 col-lg-4'>
                  <img class='mb-10' src='/img/youtube/p16p.jpg' alt='' />
                </div>
              </div>
            </div>
            <p>
              En este blog, la mayoría de características para comentar e
              interactuar están deshabilitados, así que para la siguiente
              versión de la app. Estará disponible. Actualmente ya no tengo
              disponible tiempo para continuar con las demás características por
              asuntos de otros proyectos y la universidad.
            </p>
            <p>
              Lo que sí, la información estática referente a ganar
              criptomonedas, funciona completamente y los videos de YouTube en
              mi micrositio.
            </p>
            <p>
              Ahora les dejaré un dicho random para quitar la seriedad al asunto
              :v
            </p>
            <blockquote class='alime-blockquote'>
              <h4>
                Tener una televisión full HD con las paredes sin pintar, con
                toda la ladrillada, es similar como tomarse una foto con un
                iPhone bajo una choza.
              </h4>
              <h6>- Victorito xd</h6>
            </blockquote>
            <p>
              Cualquier cosa que deseas para consultar, para contactar puedes
              hacerlos en los links que están en los pie de página de todas las
              páginas, en donde más estoy activo es en Facebook.
            </p>
            <p>
              Muchas gracias por leer este blog y si es posible, comparte todo
              mi contenido para que pueda crecer y de por sí, que me ayudes a
              mejorar mi sitio. Puedes ver mis videos de YouTube si deseas
              conocerme más de cerca. Ay uwu.
            </p>
          </div>
          <div
            class='post-author-area mt-50 d-flex align-items-center justify-content-between'
          >
            <ul class='popular-tags'>
              <li><a class='btn badges-btn' href='# '>Blogs tag</a></li>
            </ul>
            <div class='post-social-info d-flex align-items-center'>
              <p>Comparte:</p>
              <a
                href='https://www.facebook.com/sharer/sharer.php?u=http://036studios.tech/blog/2020/mayo/12.html'
                target='_blank'
                rel='noreferrer noopener'
              >
                <i class='fa fa-facebook' aria-hidden='true'></i>
              </a>
              <a
                href='https://twitter.com/share?&url=http://036studios.tech/blog/2020/mayo/12.html'
                target='_blank'
                rel='noreferrer noopener'
              >
                <i class='fa fa-twitter' aria-hidden='true'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Sliders />
  <Commentbox />
  <Instagram />
</CoreLayout>
