---
import CarrouselItem from './CarrouselItem.astro';
---

<section class='welcome-area'>
  <div class='welcome-slides owl-carousel'>
    <CarrouselItem
      img='/img/youtube/slideA.jpg'
      url='https://www.youtube.com/watch?v=1e4Z3l-XYLs'
      body='¡Mira de lo que estoy hecho!'
    >
      El himno <br />de mi canal
    </CarrouselItem>
    <CarrouselItem
      img='/img/youtube/slideB.jpg'
      url='https://www.youtube.com/watch?v=0iwucPM3GjA'
      body='Que te gustaría oír.'
    >
      Reflexiones de<br />vida.
    </CarrouselItem>
    <CarrouselItem
      img='/img/youtube/slideC.jpg'
      url='https://www.youtube.com/watch?v=_v0LhxNBGew'
      body='Cambió mi vida.'
    >
      Como un<br />videojuego.
    </CarrouselItem>
    <CarrouselItem
      img='/img/youtube/slideD.jpg'
      url='https://www.youtube.com/watch?v=4IU4yz-w9cU'
      body='Lo más absurdo que verás hoy.'
    >
      Adivina<br />Adivinadín.
    </CarrouselItem>
  </div>
</section>