---
import CounterAll from './CounterAll.html';
---

<section class='why-choose-us-area section-padding-80-0 clearfix'>
  <div class='container'>
    <CounterAll />
    <div class='row'>
      <div class='col-12'>
        <div
          class='section-heading text-center wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h2>Mis videos, mi forma de ser</h2>
          <br />
          <div
            class='g-ytsubscribe'
            data-channelid='UCZLSfAQqExCQ5M3ddRhjvRg'
            data-layout='default'
            data-theme='dark' data-count='default'
          ></div>
          <br />
          <br />
          <p>
            Arkano036 es con el nombre con el que me identifico para grabar y
            representar mis videos desde 2013, he pasado por varios nombres y
            todavía no me acostumbro a decidirme por un nombre.
            Me enfoco en el área del entretenimiento, tutoriales y gamemplays variados.
            Puede que haya algo que te guste en los videos que te ofrezco y obviamente
            que compartas a los más cercanos tuyos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>