---
import CounterAll from './CounterAll.html'
---

<section class='why-choose-us-area section-padding-80-0 clearfix'>
  <div class='container'>
    <CounterAll />
    <div class='row'>
      <div class='col-12'>
        <div
          class='section-heading text-center wow fadeInUp'
          data-wow-delay='100ms'
        >
          <div
            class='g-ytsubscribe'
            data-channelid='UCZLSfAQqExCQ5M3ddRhjvRg'
            data-layout='default'
            data-theme='dark'
            data-count='default'
          >
          </div>
          <slot />
        </div>
      </div>
    </div>
  </div>
</section>
