<header class='header-area'>
  <div class='main-header-area'>
    <div class='classy-nav-container breakpoint-off'>
      <div class='container'>
        <nav class='classy-navbar justify-content-between' id='alimeNav'>
          <a class='nav-brand' href='/arkano036' rel='prefetch'>
            <img alt='' src='/img/youtube/logo-036.png' />
          </a>
          <div class='classy-navbar-toggler'>
            <span class='navbarToggler'>
              <span></span><span></span><span></span>
            </span>
          </div>
          <div class='classy-menu'>
            <div class='classycloseIcon'>
              <div class='cross-wrap'>
                <span class='top'></span>
                <span class='bottom'></span>
              </div>
            </div>
            <div class='classynav'>
              <ul id='nav'>
                <li><a href='/' rel='prefetch'>Creative Studios</a></li>
                <li>
                  <a href='/arkano036/tutoriales' rel='prefetch'>Tutoriales</a>
                  <ul class='dropdown'>
                    <li>
                      <a href='/arkano036/tutoriales/rubik' rel='prefetch'
                        >- Cubos de Rubik</a
                      >
                    </li>
                    <li>
                      <a href='/arkano036/tutoriales/multimedia' rel='prefetch'
                        >- Edición Multimedia</a
                      >
                    </li>
                    <li>
                      <a href='/arkano036/tutoriales/infoyt' rel='prefetch'
                        >- Informática</a
                      >
                    </li>
                    <li>
                      <a href='/arkano036/tutoriales/misc' rel='prefetch'
                        >- Miscelánea</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href='/arkano036/sketchs' rel='prefetch'>Sketch/Random</a>
                </li>
                <li>
                  <a href='/arkano036/music' rel='prefetch'>Música</a>
                  <ul class='dropdown'>
                    <li>
                      <a href='/arkano036/music/touhou' rel='prefetch'
                        >- Touhou</a
                      >
                    </li>
                    <li>
                      <a href='/arkano036/music/covers' rel='prefetch'
                        >- Covers</a
                      >
                    </li>
                    <li>
                      <a href='/arkano036/music/lyrics' rel='prefetch'
                        >- Otros Lyrics</a
                      >
                    </li>
                  </ul>
                </li>
                <li><a href='/arkano036/lol' rel='prefetch'>LoL</a></li>
                <li>
                  <a href='/arkano036/osu' rel='prefetch'>osu!</a>
                  <ul class='dropdown'>
                    <li>
                      <a href='/arkano036/osu/xpress' rel='prefetch'
                        >- Xpress Play</a
                      >
                    </li>
                    <li>
                      <a href='/arkano036/osu/config' rel='prefetch'
                        >- Configuraciones</a
                      >
                    </li>
                    <li>
                      <a href='/arkano036/osu/review' rel='prefetch'
                        >- Review Express</a
                      >
                    </li>
                    <li>
                      <a href='/arkano036/osu/recop' rel='prefetch'
                        >- Recopilaciones</a
                      >
                    </li>
                    <li>
                      <a href='/arkano036/osu/init' rel='prefetch'
                        >- Inicios de osu!</a
                      >
                    </li>
                  </ul>
                </li>
                <li><a href='/arkano036/iced' rel='prefetch'>iCED Olds</a></li>
              </ul>
              <div
                class='search-icon'
                data-target='#searchModal'
                data-toggle='modal'
              >
                <i class='ti-search'></i>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
