---
type Props = {
  img: string,
  title: string,
  desc: string
};

const { img, title, desc } = Astro.props;
---

<section
  class='breadcrumb-area bg-img bg-overlay jarallax'
  style={`background-image: url(${img})`}
>
  <div class='container h-100'>
    <div class='row h-100 align-items-center'>
      <div class='col-12'>
        <div class='breadcrumb-content text-center'>
          <h2 class='page-title'>{title}</h2>
          <nav aria-label='breadcrumb'>
            <ol class='breadcrumb justify-content-center'>
              <p class='p1'>{desc}</p>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>