<header class='header-area'>
  <div class='main-header-area'>
    <div class='classy-nav-container breakpoint-off'>
      <div class='container'>
        <nav class='classy-navbar justify-content-between' id='alimeNav'>
          <a rel='prefetch' href='/arkano036' class='nav-brand'>
            <img src='/img/youtube/logo-036.png' alt='' />
          </a>
          <div class='classy-navbar-toggler'>
            <span class='navbarToggler'>
              <span></span><span></span><span></span>
            </span>
          </div>
          <div class='classy-menu'>
            <div class='classycloseIcon'>
              <div class='cross-wrap'>
                <span class='top'></span>
                <span class='bottom'></span>
              </div>
            </div>
            <div class='classynav'>
              <ul id='nav'>
                <li><a rel='prefetch' href='/'>Creative Studios</a></li>
                <li><a rel='prefetch' href='/arkano036/tutoriales'>Tutoriales</a>
                  <ul class='dropdown'>
                    <li><a rel='prefetch' href='/arkano036/tutoriales/rubik'>- Cubos de Rubik</a></li>
                    <li><a rel='prefetch' href='/arkano036/tutoriales/multimedia'>- Edición Multimedia</a></li>
                    <li><a rel='prefetch' href='/arkano036/tutoriales/infoyt'>- Informática</a></li>
                    <li><a rel='prefetch' href='/arkano036/tutoriales/misc'>- Miscelánea</a></li>
                  </ul>
                </li>
                <li><a rel='prefetch' href='/arkano036/sketchs'>Sketch/Random</a></li>
                <li><a rel='prefetch' href='/arkano036/music'>Música</a>
                  <ul class='dropdown'>
                    <li><a rel='prefetch' href='/arkano036/music/touhou'>- Touhou</a></li>
                    <li><a rel='prefetch' href='/arkano036/music/covers'>- Covers</a></li>
                    <li><a rel='prefetch' href='/arkano036/music/lyrics'>- Otros Lyrics</a></li>
                  </ul>
                </li>
                <li><a rel='prefetch' href='/arkano036/lol'>LoL</a> </li>
                <li><a rel='prefetch' href='/arkano036/osu'>osu!</a>
                  <ul class='dropdown'>
                    <li><a rel='prefetch' href='/arkano036/xpress'>- Xpress Play</a></li>
                    <li><a rel='prefetch' href='/arkano036/config'>- Configuraciones</a></li>
                    <li><a rel='prefetch' href='/arkano036/review'>- Review Express</a></li>
                    <li><a rel='prefetch' href='/arkano036/recop'>-  Recopilaciones</a></li>
                    <li><a rel='prefetch' href='/arkano036/init'>- Inicios de osu!</a></li>
                  </ul>
                </li>
                <li><a rel='prefetch' href='/arkano036/iced'>iCED Olds</a></li>
              </ul>
              <div
                class='search-icon'
                data-toggle='modal'
                data-target='#searchModal'
              >
                <i class='ti-search'></i>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>