<div class='alime--blog-area section-padding-desc'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-12 col-lg-10'>
        <div class='blog-details-text'>
          <slot />
          <blockquote class='alime-blockquote'>
            <h4>
              De por sí, me gusta ser alguien carismático, que ofrece un buen
              trato con el alumno, no estoy aquí para el ámbito económico, estoy
              aquí con la satisfacción de que tu aprendas y pongas en práctica
              todo lo que te he enseñado. Que salgas con una sonrisa en la cara
              y que me digas: ¡Gracias Profe!
            </h4>
            <h6>- Víctor Jiménez (036)</h6>
          </blockquote>
        </div>
        <div
          class='post-author-area mt-50 d-flex align-items-center justify-content-between'
        >
          <ul class='popular-tags'></ul>
          <div class='post-social-info d-flex align-items-center'>
            <p>Comparte:</p>
            <a
              href='https://www.facebook.com/sharer/sharer.php?u=http://036studios.tech/class/analysis'
              target='_blank'
              rel='noopener noreferrer'
            >
              <i class='fa fa-facebook' aria-hidden='true'></i>
            </a>
            <a
              href='https://twitter.com/share?&url=http://036studios.tech/class/analysis'
              target='_blank'
              rel='noopener noreferrer'
            >
              <i class='fa fa-twitter' aria-hidden='true'></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
