<section class='why-choose-us-area section-padding-alert clearfix'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div
          class='section-heading text-center wow fadeInUp'
          data-wow-delay='100ms'
        >
          <h2>Disponibilidad y descripción</h2>
          <br />
          <slot />
        </div>
      </div>
    </div>
  </div>
</section>