---
import CoreLayout from '@/core/layout/CoreLayout.astro';

import Heading from '@/core/components/Heading.astro';
import TeachingDonate from '@/core/components/teaching/TeachingDonate.html';
---

<CoreLayout>
  <Heading img='/img/core/class1.jpg' title='Servicios Educativos' route='Servicios' />
  <section class='our-team-area section-padding-class'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div class='section-heading text-center wow fadeInUp' data-wow-delay='100ms'>
            <h2>¿Quieres Clases?</h2>
            <p>Reserva tu servicio de nivelación, están disponibles a continuación.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='alime-blog-area section-padding-top mb-50'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-lg-6'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='100ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/core/51.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>Matemáticas</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a rel='prefetch' href='/class/analysis' class='post-title'>Análisis Matemático</a> -
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a rel='prefetch' href='/studios/class/college' class='post-thumbnail'>
              <img src='/img/core/52.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>Matemáticas</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a rel='prefetch' href='/class/math' class='post-title'>
                Matemáticas para Colegio
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='700ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/core/53.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>Matemáticas</a>
            <div class='post-content'>
              <div class='post-meta'> </div>
              <a rel='prefetch' href='/class/linear' class='post-title'>Álgebra Lineal</a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='100ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/core/54.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>Informática</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a rel='prefetch' href='/class/struct' class='post-title'>Programación Estructural</a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/core/55.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>Informática</a>
            <div class='post-content'>
              <div class='post-meta'> </div>
              <a rel='prefetch' href='/class/objects' class='post-title'>
                Programación Orientada a Objetos
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/core/57.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>Informática</a>
            <div class='post-content'>
              <div class='post-meta'> </div>
              <a rel='prefetch' href='/class/objects' class='post-title'>Edición Multimedia</a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a href='# ' class='post-thumbnail'>
              <img src='/img/core/59.jpg' alt='' />
            </a>
            <a href='# ' class='btn post-catagory'>Informática</a>
            <div class='post-content'>
              <div class='post-meta'> </div>
              <a rel='prefetch' href='/class/design' class='post-title'>Diseño Web</a>
            </div>
          </div>
        </div>
      </div>
      <div
        class='post-author-area mt-50 d-flex align-items-center justify-content-between'
      >
        <ul class='popular-tags'> </ul>
        <div class='post-social-info d-flex align-items-center'>
          <p>Comparte:</p>
          <a
            href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F036studios.tech%2Fclass'
            target='_blank'
            rel='noopener noreferrer'
          >
            <i class='fa fa-facebook' aria-hidden='true'></i>
          </a>
          <a
            href='https://twitter.com/share?&url=http://036studios.tech/class'
            target='_blank'
            rel='noopener noreferrer'
          >
            <i class='fa fa-twitter' aria-hidden='true'></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'></div>
    </div>
  </section>
  <TeachingDonate />
</CoreLayout>