---
import Heading from '@/core/components/Heading.astro'
import TeachingDonate from '@/core/components/teaching/TeachingDonate.html'
import CoreLayout from '@/core/layout/CoreLayout.astro'
---

<CoreLayout>
  <Heading
    img='/img/core/class1.jpg'
    route='Servicios'
    title='Servicios Educativos'
  />
  <section class='our-team-area section-padding-class'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>¿Quieres Clases?</h2>
            <p>
              Reserva tu servicio de nivelación, están disponibles a
              continuación.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='alime-blog-area section-padding-top mb-50'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-lg-6'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='100ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/51.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Matemáticas</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/class/analysis' rel='prefetch'
                >Análisis Matemático</a
              > -
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a
              class='post-thumbnail'
              href='/studios/class/college'
              rel='prefetch'
            >
              <img alt='' src='/img/core/52.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Matemáticas</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/class/math' rel='prefetch'>
                Matemáticas para Colegio
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='700ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/53.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Matemáticas</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/class/linear' rel='prefetch'
                >Álgebra Lineal</a
              >
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='100ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/54.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Informática</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/class/struct' rel='prefetch'
                >Programación Estructural</a
              >
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/55.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Informática</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/class/objects' rel='prefetch'>
                Programación Orientada a Objetos
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/57.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Informática</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/class/objects' rel='prefetch'
                >Edición Multimedia</a
              >
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-3'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/59.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Informática</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/class/design' rel='prefetch'
                >Diseño Web</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class='post-author-area mt-50 d-flex align-items-center justify-content-between'
      >
        <ul class='popular-tags'></ul>
        <div class='post-social-info d-flex align-items-center'>
          <p>Comparte:</p>
          <a
            href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F036studios.tech%2Fclass'
            rel='noopener noreferrer'
            target='_blank'
          >
            <i aria-hidden='true' class='fa fa-facebook'></i>
          </a>
          <a
            href='https://twitter.com/share?&url=http://036studios.tech/class'
            rel='noopener noreferrer'
            target='_blank'
          >
            <i aria-hidden='true' class='fa fa-twitter'></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'></div>
    </div>
  </section>
  <TeachingDonate />
</CoreLayout>
