---
import CoreLayout from '@/core/layout/CoreLayout.astro'
import Donate from '@/common/components/Donate.astro'
import Heading from '@/core/components/financial/Heading.astro'
---

<CoreLayout>
  <Heading
    img='/img/core/lite-l.jpg'
    title='LiteForex'
    desc='Financial | Trading | Forex Broker'
  />
  <section class='our-team-area section-padding-crypto'>
    <div class='about-us-area section-padding-crypto clearfix'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-20'>
            <div class='alert alert-warning' role='alert'>
              <strong>¡Cuidado!</strong>
              Tienes que depositar dinero en este sitio web que se te ofrecerá aquí,
              el contenido es de formación básica y de inducción, para hacer el trading
              un negocio, e studia en otros medios audiovisuales de confianza para
              evitar pérdidas.
            </div>
            <div class='alert alert-info' role='alert'>
              <strong>Amm... ¿okay?</strong>
              El personal de 036 Creative Studios no tiene motivos para darte actitudes
              o gimnasias mentales de 'liderazgo' o 'actitud emprendedora', ya que
              es algo innecesario aplicarlo aquí, solamente ten cabeza y psicología
              dura en este negocio y estudia por tu cuenta
            </div>
            <br />
            <div class='about-us-content mb-80'>
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Serie de órdenes, serie de posibilidades
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Con un tiempo predeterminado puedes negociar poniendo órdenes al
                mercado de divisas en tiempo real, puedes comprar en dicho
                mercado o puedes vender en el mismo, puedes fijar el monto de
                pérdida y ganancia, para obtener el beneficio deseado, la
                cantidad de ganancia o pérdida lo pones tú, dependiendo de los
                lotes cantidad de trabajo que desees poner. La mejor
                alternativa, certificada y evaluada es el mercado fórex. Entre
                más dinero tú operes más podrás ganar o perder. Recuerda que
                empezar este campo requiere de su dedicación y estudio, en
                verdad este negocio es profesión de muchos.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Depósitos y Retiros
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                La cantidad de mínima de depósito es de 10$ USD mediante varios
                métodos de pago, como criptomonedas, tarjetas de crédito/débito
                o transferencias bancarias con una amplitud en toda
                latinoamérica. El retiro mínimo es 1$ a excepción de Bitcoin y
                tarjetas bancarias, incluidas las comisiones, dandote esto como
                una posibilidad de que puedas retirarlo que invertiste en
                pequeñas cantidades. Entre sus métodos de pago como depósito y
                retiro también incluye Skrill, Neteller y AdvCash.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Tipos de Cuenta
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Existen dos tipos de cuenta: Real y Demo, en la cuenta real ya
                manejas tu dinero directamente para realizar operaciones y
                puedas tener beneficios de tus acciones, y la cuenta demo te
                permite para practicar y familiarizarte en el procedimiento del
                trading que a la par aprendes sobre el mundo del trading, puedes
                poner 10.000$ USD para practicar y así ver como se comporta la
                compra/venta en el mercado de divisas en el que estés operando.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Bonos y códigos de canjeo
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Al momento de depositar, tienes la posibilidad de tener una
                bonificación de depósito al momento de canjear un código de
                canjeo, puedes agregar los siguientes de manera gratuita. Para
                eso deberías cumplir ciertas condiciones. Puedes visitar
                haciendo clic
              </p>
              <a href='https://www.liteforex.com/promo/codes/?code=LIKE'>aquí</a
              > o
              <a href='https://www.liteforex.com/promo/bonuses/'>aquí</a>.
            </div>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Estrategias y Entrenamiento
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                El mismo sitio web te da la posibilidad para que puedas tener un
                mejor acercamiento en las gráficas y el comportamiento de la
                curva, como el cambio de indicadores y demás herramientas útiles
                para visualizar. Como también consejos para que la curva sea más
                intuitiva de predecir. También la inclusión al mundo del trading
                y su terminología.
              </p>
              <div
                class='section-heading text-center wow fadeInUp'
                data-wow-delay='100ms'
              >
                <a
                  class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                  data-wow-delay='500ms'
                  href='https://www.youtube.com/user/LiteForexSpanish/playlists'
                  target='_blank'
                  rel='noopener noreferrer'
                >
                  ¡Videos Interactivos!
                </a>
                &nbsp; &nbsp; &nbsp;
                <a
                  class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                  data-wow-delay='500ms'
                  href='https://www.liteforex.es/tutorial/'
                  target='_blank'
                  rel='noopener noreferrer'
                >
                  ¡Quiero Aprender!
                </a>
                <br />
              </div>
            </div>
            <div class='single-portfolio-content'>
              <img src='/img/core/lite-f.jpg' alt='' />
              <div class='hover-content'>
                <a href='/img/core/lite-f.jpg' class='portfolio-img'>+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>¿Te interesa?</h2>
            <br />
            <p>
              Puedes practicar con una cuenta demo con 10000$ para que el
              entorno de trading se más ameno para ti.
            </p>
            <a
              class='btn alime-btn btn-2 mt-30 wow fadeInUp'
              data-wow-delay='500ms'
              href='https://www.liteforex.es/?uid=237258451'
              target='_blank'
              rel='noopener noreferrer'
            >
              ¡Regístrame!
            </a>
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </section>
  <Donate />
</CoreLayout>
