---
import CoreLayout from '@/core/layout/CoreLayout.astro';
import Donate from '@/common/components/Donate.astro';
import Heading from '@/core/components/financial/Heading.astro';
---

<CoreLayout>
  <Heading
    img='/img/core/lite-l.jpg'
    title='Stormgain'
    desc='Financial | Trading | Crypto'
  />
  <section class='our-team-area section-padding-crypto'>
    <div class='about-us-area section-padding-crypto clearfix'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-20'>
            <div class='alert alert-danger' role='alert'>
              <strong>¡Tienes que saber!</strong>
               Debes tener conocimientos básicos sobre manejo de
              <a
                rel='prefetch'
                href='/financial/crypto/'
                target='_blank'
                class='alert-link'
              >
                criptomonedas</a
              > y de
              <a
                rel='prefetch'
                href='/financial/airtm/'
                target='_blank'
                class='alert-link'
              >
                transferencia de dinero
              </a>
               para que puedas continuar.
            </div>
            <div class='alert alert-warning' role='alert'>
              <strong>¡Cuidado!</strong> Tienes que depositar criptomonedas en
              el sitio web que se te ofrecerá aquí, el contenido es de formación
              básica y de inducción, para hacer el trading un negocio, estudia
              en otros medios audiovisuales de confianza para evitar pérdidas.
            </div>
            <div class='alert alert-info' role='alert'>
              <strong>Amm... ¿okay?</strong> El personal de 036 Creative Studios
              no tiene motivos para darte actitudes o gimnasias mentales de
              'liderazgo' o 'actitud emprendedora', ya que es algo innecesario
              aplicarlo aquí, solamente ten cabeza y psicología dura en este
              negocio y estudia por tu cuenta
            </div>
            <div class='alert alert-info' role='alert'>
              <strong>¡Infinitesimal!</strong> Debido a que las criptomonedas
              tienen un valor grande en el mercado, se circulan fracciones, así
              que en vez de hablar en Coins, hablaremos al Satoshi o Litoshi
              como unidad de medida 0.00000001 es 1 SAT.
            </div>
            <br />
            <div class='about-us-content mb-80'>
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Una plataforma todo en uno
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Este bróker es especializado por la realización de órdenes para
                hacer trading e intercambio, también tiene la posibilidad para
                realizar muchas posibilidades para aumentar las ganancias.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Minería para Operar
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Puedes adquirir una herramienta gratiuita de minería disponible
                sólo para propósitos de operación, no necesitas CPU, tampoco un
                equipo caro, es rápido y sencillo para usar, para obtener
                bonificaciones para la minería, puedes probar en operar dentro
                de la plataforma oara más beneficios.
              </p>
            </div>
            <div class='single-portfolio-content'>
              <img src='/img/core/sto-min.jpg' alt='' />
              <div class='hover-content'>
                <a href='/img/core/sto-min.jpg' class='portfolio-img'>+</a>
              </div>
            </div>
            <br />
            <div class='about-us-content mb-80'>
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Intuitivo, fácil y con señales para operar
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Los instrumentos que se utilizan son fáciles para el mercado,
                los activos propuestos contienen señales que pueden facilitar
                las órdenes de compra y venta, puedes poner opciones de 'Take
                Profit y Stop Loss' que por el cual las opciones binarias no
                tienen, para que puedas controlar tus órdenes y controlar tu
                gestión de riesgo.
              </p>
            </div>
            <div class='single-portfolio-content'>
              <img src='/img/core/sto-g.png' alt='' />
              <div class='hover-content'>
                <a href='/img/core/sto-g.png' class='portfolio-img'>+</a>
              </div>
            </div>
            <div class='about-us-content mb-80'>
              <br />
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Una vista en el mercado
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Para el intercambio de divisas, puedes ver de manera rápida del
                comportamiento del mércado, el libro de órdenes que está
                prevista, las órdenes de trade anteriores y la vista gráfica del
                mismo, puedes hacer los intercambios mediante un límite o en
                precio de mercado.
              </p>
            </div>
            <div class='single-portfolio-content'>
              <img src='/img/core/sto-a.jpg' alt='' />
              <div class='hover-content'>
                <a href='/img/core/sto-a.jpg' class='portfolio-img'>+</a>
              </div>
            </div>
            <div class='about-us-content mb-80'>
              <br />
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Programa de fidelidad
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Entre más operes en la plataforma, más beneficios puedes
                acumular, como ganar un interés pasivo al obtener operaciones de
                trading, también esto ayuda a la multiplicación de la velocidad
                de trading
              </p>
            </div>
            <div class='single-portfolio-content'>
              <img src='/img/core/sto-p.jpg' alt='' />
              <div class='hover-content'>
                <a href='/img/core/sto-p.jpg' class='portfolio-img'>+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>¿Te interesa?</h2>
            <br />
            <p>
              Tiene videos educativos para que puedas entrar en el cripto
              trading también 50000$ de cuenta demo para que el entorno, se más
              ameno para ti.
            </p>
            <a
              class='btn alime-btn btn-2 mt-30 wow fadeInUp'
              data-wow-delay='500ms'
              href='https://app.stormgain.com/friend/BNS16838026'
              target='_blank'
              rel='noreferrer noopener'
            >
              ¡Regístrame!
            </a>
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </section>
  <Donate />
</CoreLayout>
