<footer class='footer-area'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div
          class='footer-content d-flex align-items-center justify-content-between'
        >
          <div class='copywrite-text'>
            <p>
              {new Date().getFullYear()}
              &copy; Todos los Derechos Reservados | Diseñado por Victor7w7r (Arkano036)
            </p>
          </div>
          <div class='social-info'>
            <a
              href='https://www.youtube.com/c/arkano036'
              rel='noopener noreferrer'
              target='_blank'
            >
              <i aria-hidden='true' class='ti-youtube'></i>
            </a>
            <a
              href='https://discord.gg/jUb7ak3'
              rel='noopener noreferrer'
              target='_blank'
            >
              <i aria-hidden='true' class='fab fa-discord'></i>
            </a>
            <a
              href='mailto:info@036studios.tech'
              rel='noopener noreferrer'
              target='_blank'
            >
              <i aria-hidden='true' class='ti-email'></i>
            </a>
            <a
              href='https://www.facebook.com/arkano036'
              rel='noopener noreferrer'
              target='_blank'
            >
              <i aria-hidden='true' class='ti-facebook'></i>
            </a>
            <a
              href='https://twitter.com/arkano036'
              rel='noopener noreferrer'
              target='_blank'
            >
              <i aria-hidden='true' class='ti-twitter-alt'></i>
            </a>
            <a
              href='https://instgram.com/victor7w7r'
              rel='noopener noreferrer'
              target='_blank'
            >
              <i aria-hidden='true' class='ti-instagram'></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
