<footer class='footer-area'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div
          class='footer-content d-flex align-items-center justify-content-between'
        >
          <div class='copywrite-text'>
            <p>
              {new Date().getFullYear()}
               &copy; Todos los Derechos Reservados | Diseñado por Victor7w7r
              (Arkano036)
            </p>
          </div>
          <div class='social-info'>
            <a
              href='https://www.youtube.com/c/arkano036'
              target='_blank'
              rel='noopener noreferrer'
            >
              <i class='ti-youtube' aria-hidden='true'></i>
            </a>
            <a
              href='https://discord.gg/jUb7ak3'
              target='_blank'
              rel='noopener noreferrer'
            >
              <i class='fab fa-discord' aria-hidden='true'></i>
            </a>
            <a
              href='mailto:info@036studios.tech'
              target='_blank'
              rel='noopener noreferrer'
            >
              <i class='ti-email' aria-hidden='true'></i>
            </a>
            <a
              href='https://www.facebook.com/arkano036'
              target='_blank'
              rel='noopener noreferrer'
            >
              <i class='ti-facebook' aria-hidden='true'></i>
            </a>
            <a
              href='https://twitter.com/arkano036'
              target='_blank'
              rel='noopener noreferrer'
            >
              <i class='ti-twitter-alt' aria-hidden='true'></i>
            </a>
            <a
              href='https://instgram.com/victor7w7r'
              target='_blank'
              rel='noopener noreferrer'
            >
              <i class='ti-instagram' aria-hidden='true'></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
