---
type Props = {
  img: string
  url: string
}

const { img, url } = Astro.props
---

<div class='single-instagram-item'>
  <img alt='' src={img} />
  <div
    class='instagram-hover-content text-center d-flex align-items-center justify-content-center'
  >
    <a href={url} rel='noopener noreferrer prefetch' target='_blank'>
      <i aria-hidden='true' class='ti-instagram'></i>
      <span>victor7w7r</span>
    </a>
  </div>
</div>
