---
type Props = {
  img: string
  url: string
}

const { img, url } = Astro.props
---

<div class='single-instagram-item'>
  <img src={img} alt='' />
  <div
    class='instagram-hover-content text-center d-flex align-items-center justify-content-center'
  >
    <a href={url} target='_blank' rel='noopener noreferrer prefetch'>
      <i class='ti-instagram' aria-hidden='true'></i>
      <span>victor7w7r</span>
    </a>
  </div>
</div>
