---
import Description from '@/youtube/components/Description.astro'
import Sketchs from '@/youtube/components/generators/Sketchs.astro'
import Heading from '@/youtube/components/Heading.astro'
import YoutubeLayout from '@/youtube/layout/YoutubeLayout.astro'
---

<YoutubeLayout>
  <Heading
    desc='Arkano036 | Sketch/Random'
    img='/img/youtube/p6.jpg'
    title='Sketch/Random'
  />
  <Description>
    <br />
    <br />
    <br />
    <h2>Encontrando la forma de hacerte reír/entretener</h2>
    <br />
    <p>
      Mi intención es hacerte pasar un buen rato con mi manera de expresar mi
      humor, a la vez de mantenerte entretenido/a o informado de ciertos temas
      que son útiles para reflexionar. Puedes ver diferentes blogs de diferentes
      tópicos, en solo y acompañado.
    </p>
    <br />
    <p>
      Si el video no funciona o no está disponible, puedes hacer clic en el
      título de cada video para redirigirte a YouTube
    </p>
  </Description>
  <Sketchs />
</YoutubeLayout>
