---
import data from '@/youtube/data/youtube.json';
---

<section class='why-choose-us-area section-padding-80-0 clearfix'>
  <div class='container'>
    <div class='row'>
      {
        data.musica.lyrics.url.map((url, index) => (
          // eslint-disable-next-line @typescript-eslint/no-unsafe-return
          <div
            class='col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h6 class='wow fadeInUp' data-wow-delay='100ms'>
              <a href={url} target='_blank' rel='noopener noreferrer'>
                {data.musica.lyrics.title[index]}
              </a>
            </h6>
            <br />
            <br />
            <div
              class='about-video-area mb-80 wow fadeInUp'
              data-wow-delay='100ms'
            >
              <img
                src={`/img/youtube/thumbs/${data.musica.lyrics.thumb[index]}.jpg`}
                alt=''
              />
              <div class='video-icon'>
                <a href={url} class='video-play-btn'>
                  <i class='arrow_triangle-right' />
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
