---
import CoreLayout from '@/core/layout/CoreLayout.astro'

import Heading from '@/core/components/information/Heading.astro'
---

<CoreLayout>
  <Heading
    img='/img/core/pABO.jpg'
    title='Sobre Nosotros'
    route='Sobre Nosotros'
  />
  <div class='about-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row align-items-center'>
        <div class='col-12 col-lg-6'>
          <div class='about-us-content mb-80'>
            <h3 class='wow fadeInUp' data-wow-delay='100ms'>
              ¡Conoce al Creador!
            </h3>
            <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
            <p class='wow fadeInUp' data-wow-delay='300ms'>
              ¡Hola! mi nombre es Víctor, soy estudiante de Ingeniería en TI y
              estoy totalmente gustoso de ayudarte me especializo en varias
              áreas como informática, diseño, matemáticas.
            </p>
            <p class='wow fadeInUp' data-wow-delay='400ms'>
              Soy Youtuber de manera ocupacional,mi canal está orientado a
              diversos temas que te pueden interesar, puedes ver mis videos si
              así gustas, te dejo mi presentación aquí.
            </p>
            <p class='wow fadeInUp' data-wow-delay='400ms'>
              Puedes irte a mi canal pulsando el botón de abajo.
            </p>
            <a
              class='btn alime-btn btn-2 mt-30 wow fadeInUp'
              data-wow-delay='500ms'
              href='https://www.youtube.com/c/arkano036'
              target='_blank'
              rel='noopener noreferrer'
            >
              ¡Vamos!
            </a>
          </div>
        </div>
        <div class='col-12 col-lg-6'></div>
        <div class='about-video-area mb-80 wow fadeInUp' data-wow-delay='100ms'>
          <img src='/img/core/17.jpg' alt='' />
          <div class='video-icon'>
            <a
              href='https://www.youtube.com/watch?v=y1sWjGXvsXU'
              class='video-play-btn'
            >
              <i class='arrow_triangle-right'></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class='why-choose-us-area bg-gray section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>Servicios del sitio web</h2>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6 col-sm-6 col-lg-4'>
          <div
            class='why-choose-us-content text-center mb-80 wow fadeInUp'
            data-wow-delay='100ms'
          >
            <div class='chosse-us-icon'>
              <i class='fa fa-pencil-square-o' aria-hidden='true'></i>
            </div>
            <h4>Ecuaciones Diferenciales Ordinarias</h4>
            <p>
              Estoy especializado en cálculo diferencial e integral, álgebra
              lineal y cálculo de varias variables. Por ende se me hace mucho
              más fácil expicarte álgebra, puedes solicitar clases de nivelación
              para niveles intermedios y superior como servicio.
            </p>
          </div>
        </div>
        <div class='col-md-6 col-sm-6 col-lg-4'>
          <div
            class='why-choose-us-content text-center mb-80 wow fadeInUp'
            data-wow-delay='300ms'
          >
            <div class='chosse-us-icon'>
              <i class='fa fa-film' aria-hidden='true'></i>
            </div>
            <h4>Edición Multimedia y Creación de Contenidos</h4>
            <p>
              Edición de fotografía, fundamentos de animación, efectos
              especiales y secuenciamiento de video para YouTube, todo gracias a
              las herramientas de Adobe Creative Cloud&reg; si deseas podría
              servicios de e asesoría para edición multimedia ya sea para fotos
              y videos, o tips para los mismos fines.
            </p>
          </div>
        </div>
        <div class='col-md-6 col-sm-6 col-lg-4'>
          <div
            class='why-choose-us-content text-center mb-80 wow fadeInUp'
            data-wow-delay='100ms'
          >
            <div class='chosse-us-icon'>
              <i class='fa fa-terminal' aria-hidden='true'></i>
            </div>
            <h4>Programación/Informática y Sistemas Operativos</h4>
            <p>
              Mi carrera es mi pasión, puedo ayudarte mucho en temas referentes
              a sistemas operativos, mantenimiento de software, programación
              estructural, orientada a objetos y a eventos. También de la misma
              manera puedes solicitar clases de nivelación para niveles básicos
              de ingeniería.
            </p>
          </div>
        </div>
        <div class='col-md-6 col-sm-6 col-lg-4'>
          <div
            class='why-choose-us-content text-center mb-80 wow fadeInUp'
            data-wow-delay='500ms'
          >
            <div class='chosse-us-icon'>
              <i class='fa fa-btc' aria-hidden='true'></i>
            </div>
            <h4>Soluciones Sencillas para Criptomonedas</h4>
            <p>
              ¿El minado se te hace inaccesible? Puedes usar otras alternativas,
              tal que, con un solo click, puedes obtener Bitcoins u otro tipo de
              criptomonedas concurridas, de manera sencilla y para todos. Las
              ganancias se aumentan de manera progresiva, con tu perseverancia.
            </p>
          </div>
        </div>
        <div class='col-md-6 col-sm-6 col-lg-4'>
          <div
            class='why-choose-us-content text-center mb-80 wow fadeInUp'
            data-wow-delay='500ms'
          >
            <div class='chosse-us-icon'>
              <i class='fa fa-youtube-play' aria-hidden='true'></i>
            </div>
            <h4>Videos del Creador</h4>
            <p>
              ¿Quieres conocer me aún más? Puedes ver mis videos sobre mí, mis
              cosas y mi conocimiento en general. Referente a osu! te tengo
              varios tips para que tu puedas tener una experiencia de juego más
              disfrutable, entonces también en mi canal de Discord.
              (Proximamente).
            </p>
          </div>
        </div>
        <div class='col-md-6 col-sm-6 col-lg-4'>
          <div
            class='why-choose-us-content text-center mb-80 wow fadeInUp'
            data-wow-delay='500ms'
          >
            <div class='chosse-us-icon'>
              <i class='fa fa-cc-visa' aria-hidden='true'></i>
            </div>
            <h4>Transferencia de Dinero en Ecuador</h4>
            <p>
              Es importante que todas las ganancias que generes en Internet lo
              puedas tener en efectivo, en tu bolsillo, de tus satoshis
              generados a monedas físicas, el servicio AirTM es el más sencillo
              de usar, compatible para los servicios de PayPal, Skrill,
              Criptomonedas, etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='our-team-area section-padding-80-50'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>Nuestro Equipo</h2>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-6 col-md-12'>
          <div
            class='team-content-area text-center mb-30 wow fadeInUp'
            data-wow-delay='700ms'
          >
            <div class='member-thumb'>
              <h5>Ingeniería de hosting y back-end</h5>
              <br />
              <img src='/img/core/staff3.jpg' alt='' />
            </div>
            <h5>jayepez8</h5>
            <span
              >Informática, Desarrollo Web y tecnologías de la información</span
            >
            <br />
            <div class='member-social-info'>
              <a
                href='https://twitter.com/jayepez8'
                target='_blank'
                rel='noopener noreferrer'
              >
                <i class='ti-twitter-alt' aria-hidden='true'></i>
              </a>
              <a
                href='http://github.com/jayepez8/'
                target='_blank'
                rel='noopener noreferrer'
              >
                <i class='ti-github' aria-hidden='true'></i>
              </a>
            </div>
          </div>
        </div>
        <div class='col-lg-6 col-md-12'>
          <div
            class='team-content-area text-center mb-30 wow fadeInUp'
            data-wow-delay='700ms'
          >
            <div class='member-thumb'>
              <h5>Creación, diseño y mantenimiento del sitio</h5>
              <br />
              <img src='/img/core/staff1.jpg' alt='' />
            </div>
            <h5>Víctor Jiménez (Victor7w7r)</h5>
            <span
              >Informática, Matematicas, Desarrollo web y Edición multimedia</span
            >
            <div class='member-social-info'>
              <a
                href='https://www.youtube.com/c/arkano036'
                target='_blank'
                rel='noopener noreferrer'
              >
                <i class='ti-youtube' aria-hidden='true'></i>
              </a>
              <a
                href='https://www.facebook.com/arkano036'
                target='_blank'
                rel='noopener noreferrer'
              >
                <i class='ti-facebook' aria-hidden='true'></i>
              </a>
              <a
                href='https://twitter.com/arkano036'
                target='_blank'
                rel='noopener noreferrer'
              >
                <i class='ti-twitter-alt' aria-hidden='true'></i>
              </a>
              <a
                href='http://instgram.com/victor7w7r'
                target='_blank'
                rel='noopener noreferrer'
              >
                <i class='ti-instagram' aria-hidden='true'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</CoreLayout>
