---
import CoreLayout from '@/core/layout/CoreLayout.astro';

import Heading from '@/core/components/information/Heading.astro';
---

<CoreLayout>
  <Heading
    img='/img/core/pChange.jpg'
    title='Notas de la aplicación'
    route='Notas de la aplicación'
  />
  <section class='our-team-area section-padding-class'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div class='section-heading text-center wow fadeInUp' data-wow-delay='100ms'>
            <img src='/img/core/web.png' alt='' />
            <br />
            <p>Template Astrojs</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-12 col-sm-5 col-lg-4'>
          <div class='section-heading text-center wow fadeInUp' data-wow-delay='100ms'>
            <h2>Hosting</h2>
            <br />
            <a
              href='https://firebase.google.com/'
              target='_blank' rel='noopener noreferrer'
            >
              <img src='/img/core/firebase.png' alt='' />
            </a>
          </div>
        </div>
        <div class='col-12 col-sm-2 col-lg-4'>
          <div class='section-heading text-center wow fadeInUp' data-wow-delay='100ms'>
            <h2>Tecnología de Desarrollo</h2>
            <br />
            <a
              href='https://astro.build/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <img src='/img/core/astro.svg' style='width: 30%; height: auto' alt='' />
            </a>
          </div>
        </div>
        <div class='col-12 col-sm-5 col-lg-4'>
          <div class='section-heading text-center wow fadeInUp' data-wow-delay='100ms'>
            <h2>Plantilla</h2>
            <br />
            <a
              href='https://colorlib.com/wp/template/alime/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <img src='/img/core/own.png' alt='' />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='alime--blog-area section-padding-desc'>
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-12 col-lg-10'>
          <div class='section-heading text-center wow fadeInUp' data-wow-delay='100ms'>
            <h2>Cambios de la versión</h2>
          </div>
          <div class='wow fadeInUp' data-wow-delay='100ms'>
            <p class='subtitle'>Cambio de template a AstroJS</p>
            <ul class='list-group'>
              <li class='list-group-item'>
                22/07/2023: Cambio de todo el proyecto a Astro
              </li>
            </ul>
            <p class='subtitle'>Cambio modular a React TypeScript y posicionamiento de legacy</p>
            <ul class='list-group'>
              <li class='list-group-item'>
                24/12/2021: Cambio de todo el proyecto a ReactTS
              </li>
              <li class='list-group-item'>
                24/12/2021: Eliminadas características de comunicación con firebase y API públicas
              </li>
            </ul>
            <br />
            <p class='subtitle'>Ajustes RC 4.0</p>
            <ul class='list-group'>
              <li class='list-group-item'>
                24/01/2021: Eliminado GramFree por estafa
              </li>
              <li class='list-group-item'>
                22/10/2020: Eliminado LoanTech.top por pagos selectivos y por ser plataforma de riesgo alto
              </li>
              <li class='list-group-item'>
                22/10/2020: Intercambiado Faucetpay por Stormgain para Trading
              </li>
            </ul>
            <br />
            <p class='subtitle'>Versión RC 3.0 - 2020 - 2021</p>
            <ul class='list-group'>
              <li class='list-group-item'>
                05/07/2020: Validación con Google reCaptcha para blogs y mensajes rápidos
              </li>
              <li class='list-group-item'>
                08/07/2020: Google Ads habilitado, sitio web monetizado por Adsense
              </li>
            </ul>
            <br />
            <p class='subtitle'>Versión RC 2.0 - Mayo - Junio 2020</p>
            <ul class='list-group'>
              <li class='list-group-item'>
                29/06/2020: Mantenimiento de páginas crypto finalizado
              </li>
              <li class='list-group-item'>
                07/06/2020: Funcionalidad mejorada de la página de inicio
              </li>
              <li class='list-group-item'>
                02/06/2020: Funcionalidad de Google CSE en todas las páginas
              </li>
              <li class='list-group-item'>
                29/05/2020: Activado el sistema de comentarios en los blogs
              </li>
              <li class='list-group-item'>
                25/05/2020: Cambios en el dominio de Firebase, redirección a dominio .tech
              </li>
            </ul>
            <br />
            <p class='subtitle'>Versión RC 1.0 - Mayo 2020</p>
            <ul class='list-group'>
              <li class='list-group-item'>
                14/05/2020: Construcción de micro-chat emergente
              </li>
              <li class='list-group-item'>
                14/05/2020: Corrección de errores de ortografía, errores de redacción
              </li>
              <li class='list-group-item'>
                13/05/2020: Envío de mensajes rápidos en la sección de 'Contáctanos'
              </li>
              <li class='list-group-item'>
                13/05/2020: Solución estética de diseño 'responsive'
              </li>
              <li class='list-group-item'>
                13/05/2020: Lanzamiento inicial a la nube
              </li>
            </ul>
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</CoreLayout>