---
import Heading from '@/core/components/Heading.astro'
import CoreLayout from '@/core/layout/CoreLayout.astro'
---

<CoreLayout>
  <Heading img='/img/core/pINFO.jpg' route='Información' title='Información' />
  <section class='our-team-area section-padding-class'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div
            class='section-heading text-center wow fadeInUp'
            data-wow-delay='100ms'
          >
            <h2>¿Tienes alguna duda?</h2>
            <br />
            <p>
              Aquí puedes contactarme para cualquier cosa referente a lo que tú
              necesites. Puedes revisar las notas de la aplicación para ver los
              planes a futuro y el progreso de mi sitio web. Escríbeme en
              contacto para cualquier sugerencia que tú tengas. También para ver
              sobre nosotros y de los que nos conozcan mucho más.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='alime-blog-area section-padding-30-0 mb-50'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='100ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/pChangep.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Información</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/info/changelog' rel='prefetch'>
                Notas de la aplicación
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a class='post-thumbnail' href='/info/about' rel='prefetch'>
              <img alt='' src='/img/core/pABOp.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Información</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/info/about' rel='prefetch'>
                Sobre Nosotros
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='700ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/pCOTp.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Información</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/info/contact' rel='prefetch'>
                Contáctanos
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</CoreLayout>
