---
import Chatbox from '@/common/components/Chatbox.astro'
import Footer from '@/common/components/Footer.astro'
import Searchbox from '@/common/components/Searchbox.html'
import Header from '@/core/components/Header.astro'
---

<!doctype html>
<html lang='es-MX'>
  <head>
    <meta charset='utf8' />
    <link href='/favicon.png' rel='icon' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <meta content='#000000' name='theme-color' />
    <title>036legacy</title>
  </head>
  <body>
    <Header />
    <Searchbox />
    <slot />
    <Chatbox />
    <Footer />
  </body>
  <style lang='scss'>
    @import '../scss/036.scss';
  </style>
  <script is:inline src='/js/jquery.min.js'></script>
  <script is:inline src='/js/alime.bundle.js'></script>
  <script is:inline src='/js/popper.min.js'></script>
  <script is:inline src='/js/default-assets/active.js'></script>
  <script is:inline src='https://kit.fontawesome.com/06c35ed991.js'></script>
  <script is:inline src='/js/bootstrap.min.js'></script>
</html>
