---
import CoreLayout from '@/core/layout/CoreLayout.astro';
import Donate from '@/common/components/Donate.astro';
import Heading from '@/core/components/financial/Heading.astro';
---

<CoreLayout>
  <Heading
    img='/img/core/alter-l.jpg'
    title='Ganancias Adicionales'
    desc='Financial | Crypto | Alternativas'
  />
  <section class='our-team-area section-padding-crypto'>
    <div class='about-us-area section-padding-crypto clearfix'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-20'>
            <div class='alert alert-info' role='alert'>
              <strong>¡Sé sabio!</strong> Estamos hablando de dinero, todo esto
              es bajo tu responsabilidad, sé paciente, perseverante, pon cabeza
              en esto y disfruta.
            </div>
            <div class='alert alert-info' role='alert'>
              <strong>¡Infinitesimal!</strong>
               Debido a que las criptomonedas tienen un valor grande en el
              mercado, se circulan fracciones, así que en vez de hablar en
              Coins, hablaremos al Satoshi o Litoshi como unidad de medida
              0.00000001 es 1 SAT.
            </div>
            <div class='about-us-content mb-80'>
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Otras formas de ganar, herramientas creativas
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'></p>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Entonces, bajo mi experiencia te dejaré unos métodos
                alternativos para los cuales puedas generar dinero de manera más
                exponencial que cualquier otro método, de manera gratuita y con
                inversiones mínimas. Como siempre, la rentabilidad lo propones
                tú.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Estrategias y Conectividad
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                La escalabilidad de ganancia dependerá justo de lo que tú hagas,
                para los sitios web como GramFree y Paidera, puedes ganar de
                manera pasiva con su sistema de referidos, GramFree te pagará si
                subes videos para ellos y con Paidera te darán más posibilidades
                de ganar con encuestas y ofertas si propones VPN como Psiphon 3,
                la mejor manera de controlar estos sitios web también es tener
                un dominio aceptable del idioma inglés. Para Trust Investing
                solamente dependerías de la cantidad que inviertas.
              </p>
            </div>
          </div>
          <div class='col-12 col-lg-6'>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Basic Attention Token: Brave Browser
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Más que un explorador, es una máquina sufera de internet que te
                reduce tu consumo de ancho de banda, además que te paga por ver
                sus anuncios, así de sencillo, es 100%+ rápido que cualquier
                otro explorador de internet. Basado totalmente en chronium hecho
                por la comunidad, para ti. Puedes explorar de manera anónima por
                su sistema de pestañas auspiciada por Tor, su sistema de bloqueo
                de anuncios Brave Shields, es más eficaz que las extensiones del
                mismo Google Chrome.
              </p>
              <a
                class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                data-wow-delay='500ms'
                href='https://brave.com/stu660'
                target='_blank'
                rel='noopener noreferrer'
              >
                ¡Lo quiero ya!
              </a>
            </div>
          </div>
          <div class='col-12 col-lg-6'>
            <div
              class='about-video-area mb-80 wow fadeInUp'
              data-wow-delay='100ms'
            >
              <img src='/img/core/brave.jpg' alt='' />
              <div class='video-icon'>
                <a
                  href='https://www.youtube.com/watch?v=kLxM461VRL4'
                  class='video-play-btn'
                >
                  <i class='arrow_triangle-right'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-6'>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                ¡Minería Adaptable!
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Hay una alternativa 100% fiable y rentable, pero aquí también la
                rentabilidad es totalmente decisión tuya, se trata de un
                navegador web que, de manera pasiva ganas bitcoins, con una red
                de minería que tu hagas de varios niveles puedes tener una buena
                cantidad y hacerla totalmente rentable y beneficiosa, Cryptotab
                Browser es la alternativa mejor dedicada para ganar, basada en
                el navegador de Chrome, es la oportunidad que buscabas. ¿No me
                crees? mira mi video para que lo descargues, no necesitas más
                que tu cuenta de Google
              </p>
              <a
                class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                data-wow-delay='500ms'
                href='https://cb.run/victor7w7r'
                target='_blank'
                rel='noopener noreferrer'
              >
                ¡Lo quiero ya!
              </a>
            </div>
          </div>
          <div class='col-12 col-lg-6'>
            <div
              class='about-video-area mb-80 wow fadeInUp'
              data-wow-delay='100ms'
            >
              <img src='/img/core/thumb2.jpg' alt='' />
              <div class='video-icon'>
                <a
                  href='https://www.youtube.com/watch?v=xmN5hSoXkfI'
                  class='video-play-btn'
                >
                  <i class='arrow_triangle-right'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
      <div
        class='section-heading text-center wow fadeInUp'
        data-wow-delay='100ms'
      >
        <a
          class='btn alime-btn btn-2 mt-30 wow fadeInUp'
          data-wow-delay='500ms'
          href='https://GramFree.world/?r=2869279'
          target='_blank'
          rel='noopener noreferrer'
        >
          ¡Regístrame!
        </a>
      </div>
    </div>
    <div class='about-us-content mb-80'>
      <h3 class='wow fadeInUp' data-wow-delay='100ms'>
        Paidera: Rentabilidad en tus manos
      </h3>
      <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
      <p class='wow fadeInUp' data-wow-delay='300ms'>
        Es un sitio web por el cual, tienes la capacidad de generar más de 50$
        diarios si planificas bien y lo haces bien, entre sus métodos de
        ganancia son las encuestas, los tests y las tareas como muro de ofertas,
        lamentablemente en paises latinoamericanos dichas ofertas y encuestas
        son limitadas, lo más recomendable es que apliques un VPN cambiándote a
        otro país como Estados Unidos para tener más ofertas, la única
        desventaja es tener un dominio aceptable de inglés. Descarga haciendo
        click
        <a href='https://psiphon3.com/psiphon3.exe'>aquí</a>
         para descargar Psiphon 3 para usarlo en conjunto.
      </p>
      <br />
      <div class='single-portfolio-content'>
        <img src='/img/core/paid.jpg' alt='' />
        <div class='hover-content'>
          <a href='/img/core/paid.jpg' class='portfolio-img'>+</a>
        </div>
      </div>
      <div
        class='section-heading text-center wow fadeInUp'
        data-wow-delay='100ms'
      >
        <br />
        <br />
        <a
          class='btn alime-btn btn-2 mt-30 wow fadeInUp'
          data-wow-delay='500ms'
          href='https://paidera.com/?r=923585'
          target='_blank'
          rel='noopener noreferrer'
        >
          ¡Regístrame!
        </a>
      </div>
    </div>
  </section>
  <section class='why-choose-us-area section-padding-80-0 clearfix'>
    <div class='container'>
      <div class='row'></div>
    </div>
  </section>
  <Donate />
</CoreLayout>
