---
import CoreLayout from '@/core/layout/CoreLayout.astro'
import Donate from '@/common/components/Donate.astro'
import Heading from '@/core/components/financial/Heading.astro'
---

<CoreLayout>
  <Heading
    img='/img/core/alter-l.jpg'
    title='Faucets'
    desc='Financial | Crypto | Faucets'
  />
  <section class='our-team-area section-padding-crypto'>
    <div class='about-us-area section-padding-crypto clearfix'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-20'>
            <div class='alert alert-info' role='alert'>
              <strong>¡Sé sabio!</strong>
              Estamos hablando de dinero, todo esto es bajo tu responsabilidad, sé
              paciente, perseverante, pon cabeza en esto y disfruta.
            </div>
            <div class='alert alert-info' role='alert'>
              <strong>¡Infinitesimal!</strong>
              Debido a que las criptomonedas tienen un valor grande en el mercado,
              se circulan fracciones, así que en vez de hablar en Coins, hablaremos
              al Satoshi o Litoshi como unidad de medida 0.00000001 es 1 SAT.
            </div>
            <div class='alert alert-warning' role='alert'>
              <strong>¿Quién no lo haría?</strong>
              Estos sitios web necesitan que tengas tu bloqueador de anuncios desactivado.
            </div>
            <br />
            <div class='about-us-content mb-80'>
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>¿Qué es esto?</h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Esta es una forma de ganar bitcoins solamente por hacer clic de
                manera muy rápida, y a cada corto tiempo te dan la misma
                cantidad de bitcoins, obviamente entre más páginas de faucets
                tengas acumuladas, vas a ganar mucho más. A esto se le conoce
                como abr /ir el grifo y recolectar gotitas.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Necesitarás una dirección de faucet, FaucetPay.io
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Existen otros faucets que te darán en otros sitios web que no
                sean FaucetPay, pero obviamente el único que es reconocido para
                obtener es FaucetPay, no solo tiene la capacidad de dar soporte
                a muchos tipos de criptomonedas, si no que también en este sitio
                web te ofrece la capacidad de que multipliques tus bitcoins,
                PTC, tablero de ofertas y demás características.
              </p>
            </div>
            <div class='single-portfolio-content'>
              <img src='/img/core/ftcp1.jpg' alt='' />
              <div class='hover-content'>
                <a
                  href='https://faucetpay.io/?r=231272'
                  target='_blank'
                  rel='noopener noreferrer'
                  >¡Ir!
                </a>
              </div>
            </div>
            <br />
            <br />
            <br />
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Listado de links compatibles con FaucetPay.io
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                He recolectado todos los links compatibles con FaucetPay para
                que puedas de poco a poco ahorrar y obtener la cantidad que tu
                necesites. Están en diferentes criptomonedas, recuerda que debes
                poner la dirección de billetera correcta que te dé FaucetPay
                según la criptodivisa que tengas. Están ordenadas desde la que
                más pagan hasta la que menos pagan. Puedes hacer clic para que
                puedas redirigirte automáticamente.
              </p>
              <br />
              <div class='container'>
                <div class='row'>
                  <div class='col-12'>
                    <div class='row'>
                      <div class='col-4'>
                        <div class='list-group' id='list-tab' role='tablist'>
                          <a
                            class='list-group-item list-group-item-action active'
                            id='list-home-list'
                            data-toggle='list'
                            href='#list-home'
                            role='tab'
                            aria-controls='home'
                          >
                            Bitcoin BTC
                          </a>
                          <a
                            class='list-group-item list-group-item-action'
                            id='list-profile-list'
                            data-toggle='list'
                            href='#list-profile'
                            role='tab'
                            aria-controls='profile'
                          >
                            DOGE
                          </a>
                          <a
                            class='list-group-item list-group-item-action'
                            id='list-settings-list'
                            data-toggle='list'
                            href='#list-settings'
                            role='tab'
                            aria-controls='settings'
                          >
                            Litecoin LTC
                          </a>
                        </div>
                      </div>
                      <div class='col-8'>
                        <div class='tab-content' id='nav-tabContent'>
                          <div
                            class='tab-pane fade show active'
                            id='list-home'
                            role='tabpanel'
                            aria-labelledby='list-home-list'
                          >
                            <a
                              href='https://bitearns.com/home.html?r=1721'
                              target='_blank'
                              rel='noopener noreferrer'>BitEarns VARIABLE</a
                            >
                            <br />
                            <a
                              href='https://jarkomnet.com/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Jarkomnet 26</a
                            >
                            <br />
                            <a
                              href='https://coinbex.me/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>CoinBex 25</a
                            >
                            <br />
                            <a
                              href='https://siliconedigital.tech/wp/bitcoin-faucet?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Satoshi Store 20</a
                            >
                            <br />
                            <a
                              href='https://gdfaucet.com/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>GDFaucet 20</a
                            >
                            <br />
                            <a
                              href='http://go.4miner.me/3Pmh9K'
                              target='_blank'
                              rel='noopener noreferrer'>4miner 18</a
                            >
                            <br />
                            <a
                              href='https://bitsfree.xyz/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>BitsFree 18</a
                            >
                            <br />
                            <a
                              href='http://u24.co/en/faucet/ref/3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>U24 15</a
                            >
                            <br />
                            <a
                              href='http://trafficplotter.com/freecoins/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Traffic Plotter 11</a
                            >
                            <br />
                            <a
                              href='http://faucet.ihaterotators.xyz?ref=1845'
                              target='_blank'
                              rel='noopener noreferrer'>I Hate Rotators 10</a
                            >
                            <br />
                            <a
                              href='https://autofaucets.org/fp-btc/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>AutoFaucets 10</a
                            >
                            <br />
                            <a
                              href='http://bits4you.rf.gd/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Bits4You 10</a
                            >
                            <br />
                            <a
                              href='https://faucet.rocks/bitcoin-faucet/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Faucet Rocks 10</a
                            >
                            <br />
                            <a
                              href='https://thebitcoinstar.com/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>The Bitcoin Star 10</a
                            >
                            <br />
                            <a
                              href='https://cryptocrane.ru/btc/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Crypto Crane 10</a
                            >
                            <br />
                            <a
                              href='https://cryptorains.datee1975.website/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Crypto Trans 9-1</a
                            >
                            <br />
                            <a
                              href='https://freebits.xyz/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Freebitsxyz 8</a
                            >
                            <br />
                            <a
                              href='https://coinshave.ru/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>CoinsHave 7</a
                            >
                            <br />
                            <a
                              href='http://iyosfaucet.xyz/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>iyos Faucet 7</a
                            >
                            <br />
                            <a
                              href='https://onewayfaucet.us/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>iyos One Way Faucet 7</a
                            >
                            <br />
                            <a
                              href='https://bigbtc.win/?id=33780903'
                              target='_blank'
                              rel='noopener noreferrer'>BTC WIN 6</a
                            >
                            <br />
                            <a
                              href='http://xbit.co.in/faucet/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>XBIT 6</a
                            >
                            <br />
                            <a
                              href='https://fautsy.com/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Fausty 6</a
                            >
                            <br />
                            <a
                              href='https://coin.mg/bonus/bitcoin/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Coin.mg 6</a
                            >
                            <br />
                            <a
                              href='https://i-bits.io/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>i-Bits 6</a
                            >
                            <br />
                            <a
                              href='https://keran.co/BTC/?ref=10647'
                              target='_blank'
                              rel='noopener noreferrer'>KERAN.CO 6</a
                            >
                            <br />
                            <a
                              href='http://gobits.io/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>GoBits 6</a
                            >
                            <br />
                            <a
                              href='http://starbits.io/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>StarBits 6</a
                            >
                            <br />
                            <a
                              href='https://freesathe.000webhostapp.com/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Faucet in a Box 5</a
                            >
                            <br />
                            <a
                              href='https://btc.zlink.xyz/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>zLink 5</a
                            >
                            <br />
                            <a
                              href='https://ironfaucet.com/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>IronFaucet 5</a
                            >
                            <br />
                            <a
                              href='https://bitsurfaucet.club/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>BitSurf 5</a
                            >
                            <br />
                            <a
                              href='http://coinbid.org/index.php?ref=2580'
                              target='_blank'
                              rel='noopener noreferrer'>Coinbid 5</a
                            >
                            <br />
                            <a
                              href='http://satoshis.online/3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR/'
                              target='_blank'
                              rel='noopener noreferrer'>Satoshis online 5</a
                            >
                            <br />
                            <a
                              href='https://silver.moonbtc.club/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>SilverMoon 5</a
                            >
                            <br />
                            <a
                              href='https://free-crypto-coins.com/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Free-Crypto-Coins 5</a
                            >
                            <br />
                            <a
                              href='https://konstantinova.net/bitcoin/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Konstantinova 4</a
                            >
                            <br />
                            <a
                              href='https://lordfaucet.com/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>Lord Faucet 4</a
                            >
                            <br />
                            <a
                              href='https://efaucet.eu/index.php'
                              target='_blank'
                              rel='noopener noreferrer'>eFaucet 4</a
                            >
                            <br />
                            <a
                              href='https://xfaucet.net/bitcoin/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>xFaucet 4</a
                            >
                            <br />
                            <a
                              href='http://getyourbitco.in/892601'
                              target='_blank'
                              rel='noopener noreferrer'>GetYourBitcoin 4</a
                            >
                            <br />
                            <a
                              href='http://dailyfreebits.com/?id=64924152'
                              target='_blank'
                              rel='noopener noreferrer'>Daily Free Bits 4</a
                            >
                            <br />
                            <a
                              href='https://faucet.ferramentasbitcoin.com/?r=3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR'
                              target='_blank'
                              rel='noopener noreferrer'>FFFaucet 3</a
                            >
                          </div>
                          <div
                            class='tab-pane fade'
                            id='list-profile'
                            role='tabpanel'
                            aria-labelledby='list-profile-list'
                          >
                            <a
                              href='https://trafficplotter.com/freedogecoins/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>TP Free Doge 0.5</a
                            >
                            <br />
                            <a
                              href='https://cryptofun.space/'
                              target='_blank'
                              rel='noopener noreferrer'>Crypto Fun Space 0.4</a
                            >
                            <br />
                            <a
                              href='https://faucet.altclub.co/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Altclub 0.4</a
                            >
                            <br />
                            <a
                              href='https://www.ref-hunters.ch/dogecoin/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Ref-Hunters 0.4</a
                            >
                            <br />
                            <a
                              href='https://toplevelfaucet.website/Doge/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'
                              >Diamond Top Level 0.36</a
                            >
                            <br />
                            <a
                              href='https://faucethero.club/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Faucet Hero 0.3</a
                            >
                            <br />
                            <a
                              href='hhttps://faucethub.top/faucetpay/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Faucet Hub 0.3</a
                            >
                            <br />
                            <a
                              href=' https://dogexpress.xyz/faucetpay/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Dog Express 0.3</a
                            >
                            <br />
                            <a
                              href='http://my-crypto-corner.com/faucetfp/?'
                              target='_blank'
                              rel='noopener noreferrer'>My Crypto Corner 0.3</a
                            >
                            <br />
                            <a
                              href='https://crypto.topfaucets.us/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Top Faucets 0.3</a
                            >
                            <br />
                            <a
                              href='https://keran.co/DOGE/?ref=7723'
                              target='_blank'
                              rel='noopener noreferrer'>KERAN.CO 0.3</a
                            >
                            <br />
                            <a
                              href='https://tgainers.info/dogecoin/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>TGainrtd 0.24</a
                            >
                            <br />
                            <a
                              href='https://bagi.co.in/dogecoin/?ref=6255'
                              target='_blank'
                              rel='noopener noreferrer'>BAGI.CO.IN 0.2</a
                            >
                            <br />
                            <a
                              href='http://vip.caschbox.su?ref=727'
                              target='_blank'
                              rel='noopener noreferrer'>Vip Cashbox 0.2</a
                            >
                            <br />
                            <a
                              href='https://doge-faucet.com/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Doge Faucet 0.2</a
                            >
                            <br />
                            <a
                              href='https://xfaucetdoge.ru/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>xFaucet DOGE 0.2</a
                            >
                            <br />
                            <a
                              href='https://faucet.rocks/dogecoin-faucet/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Faucet Rocks 0.15</a
                            >
                            <br />
                            <a
                              href='https://xfaucet.net/dogecoin/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Faucet 0.13</a
                            >
                            <br />
                            <a
                              href='https://bonusio.su/doge-faucetpay/?ref=230'
                              target='_blank'
                              rel='noopener noreferrer'>Bonusio 0.13</a
                            >
                            <br />
                            <a
                              href='https://konstantinova.net/dogecoin/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Konstantinova 0.13</a
                            >
                            <br />
                            <a
                              href='https://ironfaucet.com/dogecoin/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>IronFaucet Doge 0.12</a
                            >
                            <br />
                            <a
                              href='https://digitask.ru/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>DigiTask 0.1</a
                            >
                            <br />
                            <a
                              href='http://herzcoin.net/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>HerzCoin 0.1</a
                            >
                            <br />
                            <a
                              href='https://faucet.cryptotech.pw/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>CryptoTech 0.1</a
                            >
                            <br />
                            <a
                              href='https://howtotechnique.com/doge-faucet/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'
                              >Claim Free Dogecoin 0.1</a
                            >
                            <br />
                            <a
                              href='https://faucetcrown.com/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Faucet Crown 0.07</a
                            >
                            <br />
                            <a
                              href='https://vimcrypto.xyz/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Vim Crypto 0.02</a
                            >
                            <br />
                            <a
                              href='http://www.faucetcaptcha.co.in/home.html?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Faucet Captcha 0.01</a
                            >
                            <br />
                            <a
                              href='https://bangfaucet.xyz/?r=DGeFVM6r2ArR5KfX6c2eGFzvWnJLkS12RE'
                              target='_blank'
                              rel='noopener noreferrer'>Bang Faucet 0.01</a
                            >
                          </div>
                          <div
                            class='tab-pane fade'
                            id='list-settings'
                            role='tabpanel'
                            aria-labelledby='list-settings-list'
                          >
                            <a
                              href='https://toplevelfaucet.website/ltc/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>Station LTC 1816</a
                            >
                            <br />
                            <a
                              href='https://crypto-lovers.club/fp/ltc/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ/'
                              target='_blank'
                              rel='noopener noreferrer'>Crypto Fun Space 1809</a
                            >
                            <br />
                            <a
                              href='https://bagi.co.in/litecoin/?ref=8484/'
                              target='_blank'
                              rel='noopener noreferrer'>BAGI.CO.IN 1000</a
                            >
                            <br />
                            <a
                              href='https://keran.co/LTC/?ref=10337'
                              target='_blank'
                              rel='noopener noreferrer'>KERAN.CO 1000</a
                            >
                            <br />
                            <a
                              href='https://faucet.rocks/litecoin-faucet/?r=YMNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>Faucet.Rock 777</a
                            >
                            <br />
                            <a
                              href='https://coin.mg/bonus/litecoin/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>Coin.mg 707</a
                            >
                            <br />
                            <a
                              href='https://xfaucet.net/litecoin/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>Coin.mg 706</a
                            >
                            <br />
                            <a
                              href='https://ltc.coinbid.org/index.php?ref=6082'
                              target='_blank'
                              rel='noopener noreferrer'>xFaucet 700</a
                            >
                            <br />
                            <a
                              href='https://ltcafrin7.000webhostapp.com/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>Ltcafrin7 650</a
                            >
                            <br />
                            <a
                              href='https://ltc.seobon.su/?ref=801'
                              target='_blank'
                              rel='noopener noreferrer'>seobon 500</a
                            >
                            <br />
                            <a
                              href='https://surf.livrecripto.com/torneirafp/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>Litecoin 500</a
                            >
                            <br />
                            <a
                              href='https://faucet.zlink.xyz/ltc/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>zLink Faucet 500</a
                            >
                            <br />
                            <a
                              href='https://trafficplotter.com/freelitecoins/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>Traffic Plotter500</a
                            >
                            <br />
                            <a
                              href='https://fc.snails.racing/ec/ltc/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>LTC-Snails486</a
                            >
                            <br />
                            <a
                              href='https://faucet.bitjar.site/ltc/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>BITJAR320</a
                            >
                            <br />
                            <a
                              href='https://ltc.efaucet.eu/'
                              target='_blank'
                              rel='noopener noreferrer'>eFaucet 250</a
                            >
                            <br />
                            <a
                              href='https://faucetcrown.com/ltc/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>Faucet Crown 250</a
                            >
                            <br />
                            <a
                              href='https://faucetpay.club/litecoin/?r=MNNbzXNYHWc5TpoFhqkcw9NCktcBga3SVQ'
                              target='_blank'
                              rel='noopener noreferrer'>Faucetpay Faucet 200</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='row align-items-center'>
              <div class='col-12 col-lg-6'>
                <div class='about-us-content mb-80'>
                  <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                    Freebitco.in
                  </h3>
                  <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
                  <p class='wow fadeInUp' data-wow-delay='300ms'>
                    Es el sitio web por excelencia que funciona tanto como
                    faucet te regalan bitcoins por cada hora. como casa de
                    apuestas y también con una función multiplicadora de
                    bitcoin, también con puntos de suerte y lotería, también te
                    regalan puntos de recompensa por apostar, por reclamar
                    bitcoins gratis y puedes canjearlos en bonos y más puntos de
                    recompensa, para muchos es la manera más cómoda de ganar
                    bitcoins. En el video que te dejo a continuación aprenderás
                    más sobre la página y la estrategia de como ganar bitcoins
                    sin perderlo todo.
                  </p>
                  <a
                    class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                    data-wow-delay='500ms'
                    href='https://cb.run/036freecoin'
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    ¡Regístrame!
                  </a>
                </div>
              </div>
              <div class='col-12 col-lg-6'>
                <div
                  class='about-video-area mb-80 wow fadeInUp'
                  data-wow-delay='100ms'
                >
                  <img src='/img/core/thumb3.jpg' alt='' />
                  <div class='video-icon'>
                    <a
                      href='https://www.youtube.com/watch?v=MzHvVpp2iOcI'
                      class='video-play-btn'
                    >
                      <i class='arrow_triangle-right'></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class='about-us-content mb-80'>
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                BitBot, Una aplicación de Freebitco.in
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <div class='alert alert-info' role='alert'>
                <strong>¡Pequeño!</strong>
                Se recomienda que tengas una cantidad de 20000 SAT en tu cuenta para
                que el proceso sea automático.
              </div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Si tienes ya tu estadía marcada en la página que te he indicado,
                puedes optar por descargarte una app que te ayuda a reclamar a
                cada hora todos los bitcoins que te ofrece la página, ¿Y por qué
                no? ganarte 200$ con probar la suerte, y que tu bot te dé
                haciendo el trabajo. Es recomendable para aquellos usuarios que
                sean fieles a la página, con opciones para reclamar tus puntos
                de recompensa y tus puntos de bonificación por cada hora.
              </p>
              <br />
              <br />
              <div class='container'>
                <div class='row align-items-center'>
                  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                  <div class='col-3 col-lg-4'></div>
                  <div class='col-lg-3'>
                    <a
                      href='https://play.google.com/store/apps/details?id=com.chlegou.bitbot
                        &pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                      target='_blank'
                      rel='noopener noreferrer'
                    >
                      <img
                        alt='Disponible en Google Play'
                        src='/img/core/badge.png'
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Donate />
</CoreLayout>
