---
import Donate from '@/common/components/Donate.astro'
import Heading from '@/core/components/financial/Heading.astro'
import CoreLayout from '@/core/layout/CoreLayout.astro'
---

<CoreLayout>
  <Heading
    desc='Financial | Crypto | Crypto'
    img='/img/core/bitcoin-l.jpg'
    title='Criptomonedas'
  />
  <section class='our-team-area section-padding-crypto'>
    <div class='about-us-area section-padding-crypto clearfix'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-20'>
            <div class='alert alert-info' role='alert'>
              <strong>¡Sé sabio!</strong>
              Estamos hablando de dinero, todo esto es bajo tu responsabilidad, sé
              paciente, perseverante, pon cabeza en esto y disfruta.
            </div>
            <div class='alert alert-info' role='alert'>
              <strong>¡Infinitesimal!</strong> Debido a que las criptomonedas tienen
              un valor grande en el mercado, se circulan fracciones, así que en vez
              de hablar en Coins, hablaremos al Satoshi o Litoshi como unidad de
              medida (0.00000001 es 1 SAT).
            </div>
            <div class='about-us-content mb-80'>
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Las monedas del futuro
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Este es un tema súper extenso que requiere algo de dedicación,
                ya que su volatilidad en el mercado, permite tener varias
                oportunidades dentro del mundo del trading, de la minería en la
                nube, etc. Actualmente el precio del bitcoin (BTC) oscila más o
                menos de los 8000$ a los 10000$, los factores de su valor
                depende de varios factores, ya sea como la oferta/demanda. En el
                mercado bursátil mucha gente dedica su tiempo y su futuro aquí
                por los beneficios de su alto valor.
              </p>
              <br />
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                La mayoría del contenido de estas páginas están embarcadas más a
                la criptomoneda Bitcoin (BTC) ya que es la que más se usa y el
                que más valor tiene. Pero lo más recomendable es usar otro tipo
                de criptomonedas como Litecoin (LTC) o Bitcoin Cash (BCH) por su
                bajo costo en comisiones. A continuación te daré conceptos
                inductivos para que sepas manejar de manera básica las
                criptomonedas.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                ¿Qué son las Cripto?, ¿Cómo almaceno y controlo?
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Para empezar, la primera cripto empieza con las bitcoin, bitcoin
                es un tipo de criptodivisa creado por Satoshi Nakamoto en 2009,
                un seudónimo de un informático japonés anónimo que creó esta
                moneda criptográfica y de por sí creó una red, del cual existen
                varios desarrolladores que trabajan en el protocolo de
                transmisión del Bitcoin.
              </p>
              <br />
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Los usuarios de las bitcoins, los almacena de manera de
                billeteras que se representan como direcciones de Bitcoin
                (3Pmh9KcUQyVHQ2zzG8ZNgLNkozZ8XaPbjR) como en este caso, esa es
                mi dirección que suelo usar. Para enviar montos de un emisor a
                un receptor, la red bitcoin tiene una contabilidad pública
                llamada Blockchain que contiene cada transacción que se procesa,
                el cual esta es la manera para enviar criptomonedas. Las
                probabilidades para vulnerar una dirección Bitcoin son mínimas.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Minado y precio del Bitcoin
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Para ponerlo de manera más sencilla, entre más se mine y se use
                el Bitcoin, el valor del mismo es alto y la forma del minado es
                más exigente y competitivo, la minería de por sí es el proceso
                que invierte la capacidad de la computación para procesar las
                transacciones y garantizan la seguridad de la misma red,
                obviamente se necesita un software y un hardware especializado
                para realizar miles y miles de cálculos, el proceso de minado se
                establece como HashRates/segundo, dependiendo de las capacidades
                de hardware, entonces este proceso es recompensado con bitcoins
                por dar la seguridad de estas transacciones, el proceso de
                minado crea de por sí a los bitcoins.
              </p>
            </div>
          </div>
          <div
            class='col-sm-12 col-lg-15 single_gallery_item nature mb-30 wow fadeInUp'
            data-wow-delay='100ms'
          >
            <br />
            <div class='single-portfolio-content'>
              <img
                alt=''
                src='https://bitcoin.org/img/faq/price_chart.png?1588251966'
              />
              <div class='hover-content'>
                <a
                  class='portfolio-img'
                  href='https://bitcoin.org/img/faq/price_chart.png?1588251966'
                  >+</a
                >
              </div>
            </div>
            <br />
            <br />
            <br />
          </div>
          <div class='about-us-content mb-80'>
            <h3 class='wow fadeInUp' data-wow-delay='100ms'>
              Transacciones y Demoras
            </h3>
            <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
            <p class='wow fadeInUp' data-wow-delay='300ms'>
              Las transacciones suelen tener unas demoras de segundos hasta 24
              horas e incluso se necesitan horas laborables para tratar las
              transacciones, las razones de la demora son varias, al momento de
              hacer una transacción, en la red Blockchain, toca esperar para que
              dicha transacción se incluya en un bloque disponible para ser
              enviado. Dependiendo de la página web que oferta o de la red, la
              transferencia suele demorar dpendiendo también de la comisión de
              que mandes.
            </p>
          </div>
          <div class='about-us-content mb-80'>
            <h3 class='wow fadeInUp' data-wow-delay='100ms'>
              Seguridad y Anonimato
            </h3>
            <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
            <p class='wow fadeInUp' data-wow-delay='300ms'>
              Como las transacciones suelen ser seguras e irreversibles, ninguna
              dirección de billetera está bajo un nombre o a una institución,
              eso quiere decir de que puedes tener varias billeteras y nadie
              puede saber quién envía a quién, en el caso de la red profunda, es
              muy común comprar en bitcoins debido a este factor, la dirección
              de billetera que oferta, no se sabe de quién es, a menos que el
              dueño de la cartera diga que esa es su dirección.
            </p>
          </div>
          <div class='about-us-content mb-80'>
            <h3 class='wow fadeInUp' data-wow-delay='100ms'>
              ¡Me interesa! ¿Dónde puedo ganar o comprar cripto?
            </h3>
            <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
            <p class='wow fadeInUp' data-wow-delay='300ms'>
              Mis categorías están redactadas para ganar cripto, la rentabilidad
              lo eliges tú, puedes ganar pero también puedes perder bajo tu
              responsabilidad (como páginas de Play to Win y apuestas), te daré
              páginas web de ganancia que te pueden dar gratis y ayudar a ganar,
              sé cuidadoso en páginas web que busques por ti mismo donde
              inviertas tus bitcoins o puedes resultar estafado. Confía en mí y
              ¡Ganemos juntos!, me ayudarías mucho a mí haciendo clic en los
              enlaces que te propociono.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class='alime-blog-area section-padding-30-0 mb-0'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='100ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/wall-p.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Crypto</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/financial/crypto/wallet'>
                Wallets y Direcciones
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='700ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/fau-p.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Crypto</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/financial/crypto/faucets'>
                Faucets
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a
              class='post-thumbnail'
              href='/financial/crypto/inv'
              rel='prefetch'
            >
              <img alt='' src='/img/core/invP.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Crypto</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/financial/crypto/inv' rel='prefetch'>
                Inversiones
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='700ms'>
            <a class='post-thumbnail' href='# '>
              <img alt='' src='/img/core/ptc-p.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Crypto</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a class='post-title' href='/financial/crypto/ptc' rel='prefetch'>
                Pay to Click
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-4'>
          <div class='single-post-area wow fadeInUpBig' data-wow-delay='400ms'>
            <a
              class='post-thumbnail'
              href='/financial/crypto/movil'
              rel='prefetch'
            >
              <img alt='' src='/img/core/piP.jpg' />
            </a>
            <a class='btn post-catagory' href='# '>Crypto</a>
            <div class='post-content'>
              <div class='post-meta'></div>
              <a
                class='post-title'
                href='/financial/crypto/movil'
                rel='prefetch'
              >
                Telegram y Juegos
              </a>
            </div>
          </div>
        </div>
        <div class='col-12 col-sm-6 col-lg-4'></div>
        <div class='single-post-area wow fadeInUpBig' data-wow-delay='700ms'>
          <a class='post-thumbnail' href='# '>
            <img alt='' src='/img/core/alter-p.jpg' />
          </a>
          <a class='btn post-catagory' href='# '>Crypto</a>
          <div class='post-content'>
            <div class='post-meta'></div>
            <a
              class='post-title'
              href='/financial/crypto/alternative'
              rel='prefetch'
            >
              Ganancias Adicionales
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <Donate />
</CoreLayout>
