---
import CoreLayout from '@/core/layout/CoreLayout.astro';
import Donate from '@/common/components/Donate.astro';
import Heading from '@/core/components/financial/Heading.astro';
---

<CoreLayout>
  <Heading
    img='/img/core/inv.jpg'
    title='Inversiones'
    desc='Financial | Crypto | Inversión'
  />
  <section class='our-team-area section-padding-crypto'>
    <div class='about-us-area section-padding-crypto clearfix'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-20'>
            <div class='alert alert-danger' role='alert'>
              <strong>¡Riesgo, riesgoso!</strong>
               Las páginas mostradas aquí tienen un nivel de riesgo bajo-medio
              para invertir, hazlo bajo tu propia responsabilidad
            </div>
            <div class='alert alert-info' role='alert'>
              <strong>¡Sé sabio!</strong>
               Estamos hablando de dinero, todo esto es bajo tu responsabilidad,
              sé paciente, perseverante, pon cabeza en esto y disfruta.
            </div>
            <div class='alert alert-info' role='alert'>
              <strong>¡Infinitesimal!</strong>
               Debido a que las criptomonedas tienen un valor grande en el
              mercado, se circulan fracciones, así que en vez de hablar en
              Coins, hablaremos al Satoshi o Litoshi como unidad de medida
              0.00000001 es 1 SAT.
            </div>
            <div class='about-us-content mb-80'>
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Inversiones pasivas, interés compuesto y trading automático
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'></p>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Estos métodos, son totalmente seguros y probados, para estos
                métodos de ganancias, puedes dejar tus ahorros e invertir de
                manera pasiva, generando ingresos diarios de un 3% o de un 5% de
                lo que tú tengas, en estos sitios web puedes denotar la
                vericidad de sus compañías que son totalmente operables y que
                tienen su legalidad en funcionamiento, así que, qué esperas.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Para todos los bolsillos
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                En estos sitios web, puedes empezar desde 1$, 10$ o 15$
                dependiendo de la oferta que te den, puedes re-invertir cuando
                tu dinero haya finalizado su etapa de inversión para mantener
                tus fondos en una contínua escabilidad, es necesario que tengas
                cuentas como Payeer o Coinbase para la transferencia de fondos.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Trust Investing: Inversión inteligente mediante trading
                automático
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                Considerada como una empresa seria, con su reconocimiento del
                sistema automático de trading, por el cuál inviertes desde 15$
                en adelante, tiene un sistema de árbol de inversión por el cuál
                puedes ganar una comisión por invitar, obviamente al momento que
                necesites registrarte aquí debe ser invitado por alguien más, mi
                link está abajo para que te registres, al momento de haber
                capturado esa imagen se ha generado dinero teniendo mi
                inversión, varía del 2 a 9% diarios de lo que tienes como
                ganancia, dependiendo de lo que has invertido. Debes invertir
                con Bitcoin como moneda de intercambio.
              </p>
              <br />
              <div
                class='section-heading text-center wow fadeInUp'
                data-wow-delay='100ms'
              >
                <div class='single-portfolio-content'>
                  <img src='/img/core/inv.jpg' alt='' />
                  <div class='hover-content'>
                    <a href='/img/core/inv.jpg' class='portfolio-img'>+</a>
                  </div>
                </div>
                <br />
                <br />
                <div
                  class='section-heading text-center wow fadeInUp'
                  data-wow-delay='100ms'
                >
                  <a
                    class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                    data-wow-delay='500ms'
                    href='https://trustinvesting.com/victor7w7r/unete'
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    ¡Regístrame!
                  </a>
                   &nbsp;&nbsp;&nbsp;
                  <a
                    class='btn alime-btn btn-2 mt-30 wow fadeInUp'
                    data-wow-delay='500ms'
                    href='https://trustinvesting.com/wp-content/uploads/2020/02/INVESTIDORESP-1.pdf'
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    Documentación Legal
                  </a>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Donate />
</CoreLayout>
