---
import CoreLayout from '@/core/layout/CoreLayout.astro';
import Donate from '@/common/components/Donate.astro';
import Heading from '@/core/components/financial/Heading.astro';
---

<CoreLayout>
  <Heading
    img='/img/core/pi.jpg'
    title='Ganancias Móviles'
    desc='Financial | Crypto | Móviles'
  />
  <section class='our-team-area section-padding-crypto'>
    <div class='about-us-area section-padding-crypto clearfix'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-12 col-lg-20'>
            <div class='alert alert-info' role='alert'>
              <strong>¡Sé sabio!</strong>
              Estamos hablando de dinero, todo esto es bajo tu responsabilidad,
              sé paciente, perseverante, pon cabeza en esto y disfruta.
            </div>
            <div class='alert alert-info' role='alert'>
              <strong>¡Infinitesimal!</strong>
              Debido a que las criptomonedas tienen un
              valor grande en el mercado, se circulan fracciones, así que en vez de hablar
              en Coins, hablaremos al Satoshi o Litoshi como unidad de medida 0.00000001 es 1 SAT.
            </div>
            <br />
            <div class='about-us-content mb-80'>
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Ganancias móviles, aplicaciones y bots
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                La manera más adecuada para generar ingresos es mediante la minería pasiva mediante
                aplicaciones web, consulta de páginas de manera contínua mediante los clicks,
                Está muy bien, pero una alternativa adaptable para ganancias es mediante el celular,
                haciendo tareas simples y otras acciones para hacer ganancias adicionales.
                En esta categoría de ganancia se clasificará en Bots de Telegram, PI Currency y Juegos.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <br />
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                Rentabilidad y Tiempo de Juego
              </h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <p class='wow fadeInUp' data-wow-delay='300ms'>
                La ventaja es que aquí la rentabilidad lo pones tú,
                entre más participes en estas aplicaciones para ganar de manera periódica mas recolectarás y podrás ganar.
                Estas aplicaciones están dispuestas para que te diviertas mientras ganes a la vez que obedezcas a los
                bots bajo tus acciones. Las ganancias son proporcionales al tiempo que inviertas en estas.
              </p>
            </div>
            <div class='about-us-content mb-80'>
              <h3 class='wow fadeInUp' data-wow-delay='100ms'>Coinbase: Monedero Recolector</h3>
              <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
              <div class='container'>
                <div class='row'>
                  <div
                    class='col-md-12 col-sm-12 col-lg-12 single_gallery_item nature mb-30 wow fadeInUp'
                    data-wow-delay='100ms'
                  >
                    <br />
                    <div class='single-portfolio-content'>
                      <img src='/img/core/coinbase.jpg' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://www.coinbase.com/join/jimene_gxm'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                    <br />
                    <p>
                      Es una casa de cambios importante y prestigioso para operar con criptomonedas,
                      ienes la opción de REGISTRARTE en este link. Los juegos usan coinbase como
                      método de págo único de manera de bitcoins. Esta misma opción te permite almacenar
                      muchas criptomonedas y realizar ganancias viendo otros videos de criptomonedas.
                    </p>
                  </div>
                </div>
                <br />
                <div class='about-us-content mb-80'>
                  <br />
                  <h3 class='wow fadeInUp' data-wow-delay='100ms'>
                    Bots de Telegram
                  </h3>
                  <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
                  <p class='wow fadeInUp' data-wow-delay='300ms'>
                    Antes de empezar es necesario que tengas instalado Telegram,
                    no es necesario que lo uses para mensajear a personajes de terceros,
                    lo vas a usar solamente para los bots de ganancia.
                  </p>
                  <div class='container'>
                    <div class='row align-items-center'>
                      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <div class='col-3 col-lg-4'> </div>
                      <div class='col-lg-3'>
                        <a
                          href='https://play.google.com/store/apps/details?id=org.telegram.messenger'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          <img alt='Disponible en Google Play' src='/img/core/badge.png' />
                        </a>
                      </div>
                    </div>
                  </div>
                  <br />
                  <br />
                  <p class='wow fadeInUp' data-wow-delay='300ms'>
                    Existen varios bots para generar, las acciones están descritas para
                    hacer clics en anuncios, visitar canales de telegram y responder a otros bots.
                    La familia de bots DogeClick y Adsgram, también otros bots interesantes en la parte
                    inferior, de por sí los bots te dan opciones para retirar, generar, ver tus referidos, etc.
                  </p>
                  <div class='single-portfolio-content'>
                    <img src='/img/core/bots.jpg' alt='' />
                    <div class='hover-content'>
                      <a href='/img/core/bots.jpg' class='portfolio-img'>+</a>
                    </div>
                  </div>
                  <br />
                  <p class='wow fadeInUp' data-wow-delay='300ms'>
                    Para retirar, necesitas recolectar una serie de fracciones de moneda o
                    litoshis para poder retirar en tu dirección de billetera, ten mucho cuidado con la dirección,
                    puede variar dependiendo de la divisa que uses. Se ha decidido retirar los bots que manipulan
                    bitcoins por que la cantidad retirable es muy alto. Puedes ganar con otras criptomonedas para ganar
                    de manera más versátil.
                  </p>
                  <br />
                  <br />
                  <h6 class='wow fadeInUp' data-wow-delay='100ms'>Familia DOGE Click</h6>
                </div>
                <div class='row'>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/ltcclick.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/Litecoin_click_bot?start=aSQi'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/bchclick.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/BCH_clickbot?start=Dtzv'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/dogeclick.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/Dogecoin_click_bot?start=gYNt '
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/zecclick.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/Zcash_click_bot?start=vyj0'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <br />
                <br />
                <h6 class='wow fadeInUp' data-wow-delay='100ms'>
                  Familia Adsgram.co
                </h6>
                <br />
                <br />
                <br />
                <br />
                <div class='row'>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/dogeAd.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/adsgram_doge_bot?start=c4b7d41ca62f'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/ltcAd.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/adsgram_ltc_bot?start=58132f83a0a3'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <br />
                  <br />
                  <h6 class='wow fadeInUp' data-wow-delay='100ms'>
                    Bots Variados Minería, Investing y Tareas Simples
                  </h6>
                  <br />
                  <br />
                  <br />
                  <br />
                </div>
                <div class='row'>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/ethgif.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/ETH_Gift_Bot?start=937920018'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/deligate.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/deligate_bot?start=78806'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/clickbee.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/ClickBeeBot?start=937920018'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/ltcCandy.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/LTCCandy_Bot?start=937920018'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/pirate.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/pirate_bay_game_bot?start=11tpQe'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/alex.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/AlexCryptoMULTIbot?start=937920018'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/btct.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/BTC_Trend_bot?start=937920018'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class='col-3 col-md-6 col-sm-3 col-lg-3 fadeInUp' data-wow-delay='100ms'>
                    <div class='single-portfolio-content'>
                      <img src='/img/core/master.png' alt='' />
                      <div class='hover-content'>
                        <a
                          href='https://t.me/cryptomundo_bot?start=r0729110648'
                          target='_blank'
                          rel='noopener noreferrer'
                        >
                          ¡Ir!
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='about-us-content mb-80'>
            <br />
            <h3 class='wow fadeInUp' data-wow-delay='100ms'>
              Juegos e Iniciativas de Ganancias
            </h3>
            <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
            <p class='wow fadeInUp' data-wow-delay='300ms'>
              Aquí se listará unos juegos para tu dispositivo android recomendados para ganar,
              se lista como los juegos de Bling Bitcoin Blast, Bitcoin Blocks y Bitcoin Solitarie
              y los juegos de Bitcoin Aliens Alien Run, Blockchain Game y Free Bitcoin
            </p>
          </div>
          <div class='about-us-content mb-80'>
            <div class='container'>
              <div class='row'>
                <div
                  class='col-md-6 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
                  data-wow-delay='100ms'
                >
                  <h6 class='wow fadeInUp' data-wow-delay='100ms'>Bitcoin Blast</h6>
                  <br />
                  <br />
                  <div class='single-portfolio-content'>
                    <img src='/img/core/blast.jpg' alt='' />
                    <div class='hover-content'>
                      <a
                        href='https://play.google.com/store/apps/details?id=app.getloaded.bitcoinblast'
                        target='_blank'
                        rel='noopener noreferrer'
                      >
                        ¡Ir!
                      </a>
                    </div>
                  </div>
                  <br />
                  <p>
                    Aplicación parecidada a Candy Crush Saga que consiste en romper monedas de bitcoins,
                    obviamente, entre más pases niveles, más te van a pagar obviamente. Es un juego
                    ligado a tu cuenta de Bling (correo de coinbase) que se compartirá tus puntos en Bitcoin Blocks y
                    Bitcoin Solitarie.
                  </p>
                </div>
                <div
                  class='col-md-6 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
                  data-wow-delay='100ms'
                >
                  <h6 class='wow fadeInUp' data-wow-delay='100ms'>
                    Bitcoin Blocks
                  </h6>
                  <br />
                  <br />
                  <div class='single-portfolio-content'>
                    <img src='/img/core/blocks.jpg' alt='' />
                    <div class='hover-content'>
                      <a
                        href='https://play.google.com/store/apps/details?id=com.bling.bitcoinblocks'
                        target='_blank'
                        rel='noopener noreferrer'
                      >
                        ¡Ir!
                      </a>
                    </div>
                  </div>
                  <br />
                  <p>
                    Aplicación parecidada a Candy Crush Saga que consiste en romper monedas de bitcoins, obviamente,
                    entre más pases niveles, más te van a pagar obviamente. Es un juego ligado a tu cuenta de Bling
                    correo de coinbase que se compartirá tus puntos en Bitcoin Blocks y Bitcoin Solitarie.
                  </p>
                </div>
                <div
                  class='col-md-6 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
                  data-wow-delay='100ms'
                >
                  <h6 class='wow fadeInUp' data-wow-delay='100ms'>Bitcoin Solitaire</h6>
                  <br />
                  <br />
                  <div class='single-portfolio-content'>
                    <img src='/img/core/solit.jpg' alt='' />
                    <div class='hover-content'>
                      <a
                        href='https://play.google.com/store/apps/details?id=com.playday.bitcoinsolitaire'
                        target='_blank'
                        rel='noopener noreferrer'
                      >
                        ¡Ir!
                      </a>
                    </div>
                  </div>
                  <br />
                  <p>
                    Es un juego sencillo que te permite que juegues solitario así pierdas o así ganes,
                    te ganarás tus puntos, te permite usar la opción de un conjunto de 1 sola carta o un conjunto de 3 cartas.
                    Si dispones de tu tiempo libr /e para jugar, puedes hacerlo ganando moneditas.
                  </p>
                </div>
                <div
                  class='col-md-6 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
                  data-wow-delay='100ms'
                >
                  <h6 class='wow fadeInUp' data-wow-delay='100ms'>
                    Free Bitcoin
                  </h6>
                  <br />
                  <br />
                  <div class='single-portfolio-content'>
                    <img src='/img/core/freeb.jpg' alt='' />
                    <div class='hover-content'>
                      <a
                        href='http://coinverting.com/?btcref=8140658&game=2&pf=2'
                        target='_blank'
                        rel='noopener noreferrer'
                      >
                        ¡Ir!
                      </a>
                    </div>
                  </div>
                  <br />
                  <p>
                    Considerado como un micro faucet te regalarán satoshis por hacer click, está distribuido para
                    ganancias simples, como para ganancias extremas. Las probabilidades de que ganes depende de
                    la cantidad de publicidad que veas, necesitas tener una cuenta en coinbase para retirar y está
                    vinculado tus satoshis con otros juegos de Bitcoin Aliens.
                  </p>
                </div>
                <div
                  class='col-md-6 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
                  data-wow-delay='100ms'
                >
                  <h6 class='wow fadeInUp' data-wow-delay='100ms'>Blockchain Game</h6>
                  <br />
                  <br />
                  <div class='single-portfolio-content'>
                    <img src='/img/core/chain.jpg' alt='' />
                    <div class='hover-content'>
                      <a
                        href='http://www.bitcoingameapps.com/track.php?ref=8140658'
                        target='_blank'
                        rel='noopener noreferrer'
                      >
                        ¡Ir!
                      </a>
                    </div>
                  </div>
                  <br />
                  <p>
                    Es un juego sencillo caracterizado para generar bloques en cadena de manera rápída,
                    a cada que avances, la dificultad va avanzando, si llegas a un punto de control tienes
                    la posibilidad de ganar hasta donde llegaste o continuar, si pierdes, toda la cadena perderá
                    y ganarás sólo el premio mínimo. Necesitas tener una cuenta en coinbase para retirar y está
                    vinculado tus satoshis con otros juegos de Bitcoin Aliens.
                  </p>
                </div>
                <div
                  class='col-md-6 col-sm-12 col-lg-4 single_gallery_item nature mb-30 wow fadeInUp'
                  data-wow-delay='100ms'
                >
                  <h6 class='wow fadeInUp' data-wow-delay='100ms'>Alien Run</h6>
                  <br />
                  <br />
                  <div class='single-portfolio-content'>
                    <img src='/img/core/alien.jpg' alt='' />
                    <div class='hover-content'>
                      <a
                        href='http://www.bitcoingameapps.com/track.php?ref=8140658'
                        target='_blank'
                        rel='noopener noreferrer'
                      >
                        ¡Ir!
                      </a>
                    </div>
                  </div>
                  <br />
                  <p>
                    Variante de Geometry Dash, a cada que avances ganarás más puntos, de por sí puedes jugar
                    aventura o jugar misiones diarias para que puedas ganar tus satoshis. Necesitas tener una
                    cuenta en coinbase para retirar y está vinculado tus satoshis con otros juegos de Bitcoin Aliens.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class='about-us-content mb-80'>
            <h3 class='wow fadeInUp' data-wow-delay='100ms'>PI Network</h3>
            <div class='line wow fadeInUp' data-wow-delay='200ms'></div>
            <p class='wow fadeInUp' data-wow-delay='300ms'>
              Es una criptomoneda en desarrollo que simplemente se mina en el celular, con la posibilidad de
              ganar con registrarte y dejarlo tu celular en el esto en el que está, simplemente eso,
              tiene la posibilidad de auto-regenerarse el minado cada 24H, para eso debes ir a la aplicación
              para validar el minado. Trata en lo posible de compartirlo a tus referidos para que ganes más.
              La única desventaja es que, al ser una criptomoneda nueva, no es posible retirarlo a las wallets
              convencionales y darles posterior uso en el mercado. Por el momento es mejor recolectarlos hasta
              que circulen en el mercado.
            </p>
          </div>
          <div class='container'>
            <div class='row align-items-center'>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <div class='col-12 col-lg-'>
                <div class='single-portfolio-content'>
                  <img src='/img/core/pi.jpg' alt='' />
                  <div class='hover-content'>
                    <a href='/img/core/pi.jpg' class='portfolio-img'>+</a>
                  </div>
                </div>
                <br />
                <br />
              </div>
            </div>
          </div>
          <div class='container'>
            <div class='row align-items-center'>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <div class='col-3 col-lg-4'></div>
              <div class='col-lg-3'>
                <a
                  href='http://minepi.com/victor7w7r'
                  target='_blank'
                  rel='noopener noreferrer'
                >
                  <img alt='Disponible en Google Play' src='/img/core/badge.png'/>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br />
  <br />
  <Donate />
</CoreLayout>